<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Batu Cermin</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper bg-dark">
      <nav class="navbar navbar-expand-lg center-nav transparent navbar-dark">
        <div class="container flex-lg-row flex-nowrap align-items-center">
          <div class="navbar-brand w-100">
            <a href="./index.html">
              <h3>Desa Batu Cermin</h3>
            </a>
          </div>
          <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
            <div class="offcanvas-header d-lg-none d-xl-none">
              <a href="./index.html"><img src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" /></a>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="index.html" >Home</a>
                  <!--/.dropdown-menu -->
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="article.html">Article</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="gallery.html">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                  <!--/.dropdown-menu -->
                </li>
              </ul>
              <!-- /.navbar-nav -->
              <div class="d-lg-none mt-auto pt-6 pb-6 order-4">
                <a href="mailto:first.last@email.com" class="link-inverse">info@email.com</a>
                <br /> 00 (123) 456 78 90 <br />
                <!-- /.social -->
              </div>
              <!-- /offcanvas-nav-other -->
            </div>
            <!-- /.offcanvas-body -->
          </div>
          <!-- /.navbar-collapse -->
          <div class="navbar-other w-100 d-flex ms-auto">
            <ul class="navbar-nav flex-row align-items-center ms-auto">
              <li class="nav-item d-lg-none">
                <button class="hamburger offcanvas-nav-btn"><span></span></button>
              </li>
            </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-green">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
              <div class="post-category text-line">
                <a href="#" class="hover" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-4">Goa Batu Cermin, Destinasi Wisata Di Labuan Bajo Yang Wajib Dikunjungi<h1>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="blog single mt-n17">
              <div class="card">
                <figure class="card-img-top"><img src="./assets/img/photos/pembangunan-infrastruktur-desa.jpg" alt="" /></figure>
                <div class="card-body">
                  <div class="classic-view">
                    <article class="post">
                      <div class="post-content mb-5">
                        <h2 class="h1 mb-4">Goa Batu Cermin, Destinasi Wisata Di Labuan Bajo Yang Wajib Dikunjungi</h2>
                        <p>Siapa yang tak kenal dengan Kota Labuan Bajo, rumah bagi komodo, hewan purba asli Indonesia, yang berada di Taman Nasional Komodo. Ibu Kota Kabupaten Manggarai Barat, Nusa Tenggara Timur itu juga populer dengan keindahan wisata laut dan bawah lautnya serta pulau-pulau eksotisnya seperti Rinca, Padar, Kelor, Panawa, dan lainnya. Tak hanya menyajikan keindahan alam di atas permukaan dengan segala pesonanya, Labuan Bajo juga menyimpan potensi wisata keindahan alam di perut buminya. Gua Batu Cermin adalah salah satunya. Objek wisata alam ini terdapat di Kampung Wae Sambi, Desa Batu Cermin, sebuah desa seluas 764 kilometer persegi dengan 5.712 jiwa penduduk yang berada di Kecamatan Komodo. 
                        </p>
                        <p>Gua Batu Cermin berada tak jauh dari kawasan objek wisata Batu Payung, sebuah fenomena alam batu bersusun besar menyerupai bentuk payung. Posisi objek wisata Gua Batu Cermin sangat strategis karena tak jauh dari pusat kota, seperti Pelabuhan Labuan Bajo dan Bandar Udara Internasional Komodo. Jaraknya sekitar 5-6 km atau sekitar 15 menit berkendara menyusuri jalan beraspal mulus dari pusat kota. Saat menjelajah gua, ada beberapa hal yang harus diperhatikan, seperti gunakan pakaian yang kasual dan alas kaki bersol dari bahan karet. Dan, jangan lupa membawa perbekalan dan air minum yang cukup.</p>
                        <p>Sebelum memasuki gua, kita terlebih dulu membayar retribusi sebesar Rp20.000 untuk pengunjung domestik dan Rp50.000 bagi turis asing. Tepat di samping pos retribusi terdapat papan bertuliskan “Welcome To Batu Cermin”. Terdapat jalan setapak berbahan semen dan coneblock selebar satu meter sepanjang 300 meter akan menjadi akses menuju pintu gua. Di kiri-kanan jalan setapak, setiap pengunjung akan melewati ribuan rumpun bambu yang melengkung indah membentuk kanopi alami yang sejuk seakan menyambut kedatangan setiap orang. Jika beruntung, kita akan berjumpa dengan kawanan kera ekor panjang yang ramah.</p>
                        <p>Tak sampai 10 menit berjalan, kita sampai di ujung jalan setapak dan di hadapan kita terbentang susunan batu-batu karang besar warna gelap hingga setinggi 70 meter. Ini dia Gua Batu Cermin. Jika umumnya akses masuk ke gua langsung dihadapkan dengan turunan yang curam, tidak demikian di gua yang satu ini. Sebuah tangga beton selebar satu meter dengan hampir 40 undakan dan menanjak hingga ketinggian 20 meter sudah langsung menyambut. Tangga ini dibangun di antara dinding-dinding kokoh gua dengan batuan stalaktit dan stalagmit bermotif ukiran alami dari proses yang terbentuk jutaan tahun lampau. Inilah akses masuk ke mulut gua yang memiliki luas 19 hektare ini.</p>
                        <p>Sebelum memasuki bagian dalam gua, para pemandu akan meminta kita untuk memakai helm keselamatan. Pelindung warna oranye ini telah disediakan di dekat pintu masuk gua dan berguna agar kepala kita tidak cedera terantuk stalaktit. Ini lantaran bagian stalaktit gua tepat di pintu masuk tingginya tak sampai satu meter dan lorong untuk kita berjalan pun sangat sempit. Kondisi seperti ini membuat kepala kita harus terus berjalan merunduk bahkan sampai sedikit berjongkok dan hati-hati mengatur langkah agar tidak terperosok.</p>
                        <h3>Fossil Kehidupan Laut</h3>
                        <p>Perjuangan merunduk hingga berjongkok menyusuri lorong sempit dan terjal dengan stalaktit rendah selama sekitar lima menit itu membuahkan hasil. Kita pun sampai di sebuah ruang luas dan besar, kira-kira berukuran 200 meter persegi. Uniknya, di langit-langit ruang utama, demikian para pemandu gua menyebut ruangan ini, yang tingginya tak lebih dari 170 sentimeter kita bisa menyaksikan relief-relief unik saling menonjol. Pada salah satu bagiannya terdapat bentuk mirip seperti penyu sedang merayapi langit-langit gua. Terdapat bentuk kepala, kerapas atau cangkang, dan kaki belakang. Inilah fosil penyu, salah satu dari ribuan bentuk fosil mirip tumbuhan dan fauna bawah laut yang menjadi koleksi ruang utama ini dan membentang memenuhi sudut langit-langit gua.</p>
                        <p>Saat gua ini diekplorasi secara ilmiah untuk pertama kali oleh Theodore Verhoven pada 1951 silam, arkeolog sekaligus misionaris berkebangsaan Belanda ini meyakini bagian gua tadi merupakan bagian dari ekosistem purba bawah laut termasuk di dalamnya adalah Pulau Flores serta pulau-pulau di Nusa Tenggara Timur. Ini terjadi ketika seluruh daratan Pulau Flores masih menjadi bagian dari laut purba dan kemudian sebagiannya terangkat menjadi daratan akibat pergeseran yang menyebabkan gempa tektonik besar di Lempeng Indo-Australia di bawah Busur Sunda-Banda yang terjadi 50 juta tahun silam. Demikian dikutip dalam laporan penelitian Riza Rahardiawan dan Catur Purwanto dari Pusat Penelitian dan Pengembangan Geologi Kelautan, Kementerian Energi Sumber Daya Mineral, mengenai struktur geologi Flores yang dilakukan pada 2014.</p>
                        <p>Setelah menikmati aneka fosil kehidupan bawah laut di ruang utama, kita dapat beranjak ke ruang lain yang menjadi alasan utama dari nama gua ini. Lagi-lagi kita harus berjuang merunduk untuk menuju sebuah ruang luas yang menjadi keistimewaan dari gua ini. Terdapat bias sinar matahari yang masuk dari sebuah celah besar dan sangat tinggi, tepat di atas kepala kita, menerobos masuk sehingga membuat suasana di dalam gua menjadi terang. Pendaran sinar matahari yang masuk ke dalam gua begitu indah dan menarik untuk dijadikan latar berfoto.</p>
                        <p>Oh iya, pendaran sinar sang surya ini bila terkena dinding batu-batu stalaktit dan stalagmit akan tampak seperti berkilauan dan memantul, persis seperti sebuah cermin. Ini disebabkan oleh karakternya yang berupa batu karang purba serta berpori. Batuan jenis ini bagus untuk memantulkan sinar dan kurang baik untuk memantulkan suara atau terjadinya resonansi. Karena itu, sekeras apa pun kita berteriak di ruang ini, tidak akan menciptakan gema. Karena keunikan dan keistimewaan gua ini, membuat Presiden Joko Widodo dan Ibu Negara Iriana Joko Widodo menyempatkan berwisata ke perut bumi Labuan Bajo ini pada 11 Juli 2019 lalu. Usai kunjungan itulah Presiden meminta Kementerian Pekerjaan Umum dan Perumahan Rakyat menata kawasan Gua Batu Cermin sebagai penunjang Labuan Bajo, satu di antara lima Kawasan Strategis Pariwisata Nasional (KSPN) berkategori superprioritas.</p>
                        <p>Seperti dikutip dari laman www.pu.go.id, pemerintah membangun ruang terbuka atau amphitheatre di halaman luar gua, jalur baru berbentuk trekking point menuju gua, dan membangun kantor pengelola. Pemerintah juga membuat bangunan penjualan tiket masuk yang baru, kafe dan kantin, serta memperluas area parkir. Pekerjaan infrastruktur itu, termasuk menata sistem sanitasi, penataan kawasan, jalan, penyediaan air bersih, dan perbaikan hunian warga, menelan anggaran APBN sebesar Rp27,5 miliar.  Menurut Menteri PUPR Basuki Hadimuljono, untuk menampilkan objek wisata yang mampu menarik minat turis, maka yang perlu disiapkan adalah perbaikan infrastruktur penunjang, selain promosi besar-besaran.</p>
                        <p>“Kalau hal itu tidak siap, turis hanya datang sekali dan tidak akan kembali lagi. Itu yang harus kita jaga betul. Prinsipnya adalah mengubah wajah kawasan dilakukan dengan cepat, terpadu, dan memberikan dampak bagi ekonomi lokal dan nasional,” kata Menteri Basuki. Selain Gua Batu Cermin, Labuan Bajo juga terkenal dengan wisata air terjun atau disebut juga cunca seperti Cunca Wulang, Rami, Lolos, serta lainnya.</p>
                      </div>
                      <a href="https://alam.id/di-perut-bumi-labuan-bajo-terdapat-objek-wisata-gua-batu-cermin/">Source</a>
                      <!-- /.post-content -->
                    </article>
                    <!-- /.post -->
                  </div>
                  <!-- /.classic-view -->
                  <hr />
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
 <footer class="bg-dark text-inverse">
    <div class="container pt-17 pt-md-19 pb-13 pb-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <nav class="nav social social-white">
              <p class="mb-4">© 2022 JongKreatif. All rights reserved.</p>
              <a href=""><i class="uil uil-facebook-f"></i></a>
              <a href=""><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-9">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Batu Cermin, Kec. Komodo, Kabupaten Manggarai Barat, Nusa Tenggara Timur</address>
            <br /> 081-338-810-904
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>