<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Wolotopo</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="index.html">

            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="index.html" class="transition-none d-none d-lg-flex">
                  <h5>Desa</h5>
                  <h5 style="padding-left: 10px;">Wolotopo</h5>
                  <h5 style="padding-left: 10px;"></h5>
                </a>
                <a href="index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="article.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
  
    </header>
    <!-- /header -->
    <section class="wrapper bg-light">
      <div class="container pt-10 pt-md-14">
        <div class="row">
          <div class="col-lg-10 col-xxl-8">
            <h1 class="display-1 mb-0">Gallery</h1>
            <h3>Berisi berupa Foto-foto, Hasil Bumi, Souvenir, </br> dan Fasilitas dari Desa Wisata Wolotopo</h3>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container py-14 py-md-16">
        <div class="grid grid-view projects-masonry">
          <div class="row gx-md-10 gy-10 gy-md-13 isotope">
            <div class="project item col-md-6 product">
              <figure class="lift rounded mb-6"><img src="./assets//img/photos/rumah-adat-wolotopo.jpeg" alt="" /></a></figure>
              <div class="project-details d-flex justify-content-center flex-column">
                <div class="post-header">
                  <div class="post-category text-line mb-3 text-purple">Wisata Budaya</div>
                  <h3 class="post-title">Sao Ria Tenda Bewa</h3>
                </div>
                <!-- /.post-header -->
              </div>
              <!-- /.project-details -->
            </div>
            <!-- /.project -->
            <div class="project item col-md-6 workshop">
              <figure class="lift rounded mb-6"><img src="./assets//img/photos/view-desa-wolotopo.jpeg" alt="" /></a></figure>
              <div class="project-details d-flex justify-content-center flex-column">
                <div class="post-header">
                  <div class="post-category text-line mb-3 text-leaf">Wisata Budaya</div>
                  <h3 class="post-title">Sao Ria Tenda Bewa</h3>
                </div>
                <!-- /.post-header -->
              </div>
              <!-- /.project-details -->
            </div>
            <!-- /.project -->
            <div class="project item col-md-6 still-life">
              <figure class="lift rounded mb-6"><img src="./assets//img/photos/watu-rajo-wolotopo.jpg" alt="" /></a></figure>
              <div class="project-details d-flex justify-content-center flex-column">
                <div class="post-header">
                  <div class="post-category text-line mb-3 text-violet">Wisata Alam</div>
                  <h3 class="post-title">Pantai Nangasena</h3>
                </div>
                <!-- /.post-header -->
              </div>
              <!-- /.project-details -->
            </div>
            <!-- /.project -->
            <div class="project item col-md-6 still-life">
              <figure class="lift rounded mb-6"><img src="./assets//img/photos/menenun-wolotopo.jpg" alt="" /></a></figure>
              <div class="project-details d-flex justify-content-center flex-column">
                <div class="post-header">
                  <div class="post-category text-line mb-3 text-violet">Wisata Budaya</div>
                  <h3 class="post-title">Kegiatan Menenun</h3>
                </div>
                <!-- /.post-header -->
              </div>
              <!-- /.project-details -->
            </div>
            <!-- /.project -->
            <div class="project item col-md-6 product">
              <figure class="lift rounded mb-6"> <img src="./assets//img/photos/selendang-tenun-khas-wolotopo.jpg" alt="" /></a></figure>
              <div class="project-details d-flex justify-content-center flex-column">
                <div class="post-header">
                  <div class="post-category text-line mb-3 text-yellow">Souvenir</div>
                  <h3 class="post-title">Selendang Tenun</h3>
                </div>
                <!-- /.post-header -->
              </div>
              <!-- /.project-details -->
            </div>
            <div class="project item col-md-6 product">
              <figure class="lift rounded mb-6"> <img src="./assets//img/photos/pembuatan-selendang-wolotopo.jpg" alt="" /></a></figure>
              <div class="project-details d-flex justify-content-center flex-column">
                <div class="post-header">
                  <div class="post-category text-line mb-3 text-yellow">Wisata Budaya</div>
                  <h3 class="post-title">Pembuatan Selendang Tenun</h3>
                </div>
                <!-- /.post-header -->
              </div>
              <!-- /.project-details -->
            </div>
            <div class="project item col-md-6 product">
              <figure class="lift rounded mb-6"> <img src="./assets//img/photos/fasilitas-desa-wolotopo(1).jpg" alt="" /></a></figure>
              <div class="project-details d-flex justify-content-center flex-column">
                <div class="post-header">
                  <div class="post-category text-line mb-3 text-yellow">Fasilitas</div>
                  <h3 class="post-title">Fasilitas Desa</h3>
                </div>
                <!-- /.post-header -->
              </div>
              <!-- /.project-details -->
            </div>
            <div class="project item col-md-6 product">
              <figure class="lift rounded mb-6"> <img src="./assets//img/photos/fasilitas-desa-wolotopo.jpg" alt="" /></a></figure>
              <div class="project-details d-flex justify-content-center flex-column">
                <div class="post-header">
                  <div class="post-category text-line mb-3 text-yellow">Fasilitas</div>
                  <h3 class="post-title">Homestay</h3>
                </div>
                <!-- /.post-header -->
              </div>
              <!-- /.project-details -->
            </div>
            <div class="project item col-md-6 product">
              <figure class="lift rounded mb-6"> <img src="./assets//img/photos/patikaa-desa-wolotopo.jpg" alt="" /></a></figure>
              <div class="project-details d-flex justify-content-center flex-column">
                <div class="post-header">
                  <div class="post-category text-line mb-3 text-yellow">Wisata Budaya</div>
                  <h3 class="post-title">Patikaa Desa Wolotopo</h3>
                </div>
                <!-- /.post-header -->
              </div>
              <!-- /.project-details -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.grid -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <p class="mb-4">© 2022 JongKreatif. All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="https://www.facebook.com/Kampong%20Wolotopo%20Timur"><i class="uil uil-facebook-f"></i></a>
              <a href="https://www.instagram.com/wolotopo_kampung"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
           <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Wolotopo, Kecamatan Ndona, Kabupaten Ende, Nusa Tenggara Timur</address>
            <a href="mailto:desawolotopotimur@email.com">desawolotopotimur@gmail.com</a><br /> 082-144-093-526
          </div>
                    <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>