<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Mondu</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="">
            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="index.html" class="transition-none d-none d-lg-flex">
                  <h5>Desa</h5>
                  <h5 style="padding-left: 10px;">Mondu</h5>
                  <h5 style="padding-left: 10px;"></h5>
                </a>
                <a href="index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="article.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
  
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-green">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
              <div class="post-category text-line">
                <a href="#" class="hover" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-4">Savana Puru Kambera, Orkestra Alam Di Tanah Sumba<h1>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="blog single mt-n17">
              <div class="card">
                <figure class="card-img-top"><img src="./assets/img/photos/view-desa-mondu.jpg" alt="" /></figure>
                <div class="card-body">
                  <div class="classic-view">
                    <article class="post">
                      <div class="post-content mb-5">
                        <h2 class="h1 mb-4">Savana Puru Kambera, Orkestra Alam Di Tanah Sumba</h2>
                        <p>Kabupaten Sumba Timur, Povinsi Nusa Tenggara Timur, merupakan daerah yang terkenal dengan penangkaran dan perdagangan kuda sejak abad ke 19.Hal tersebut tentunya disebabkan oleh kondisi alamnya yang sangat mendukung untuk kelestarian kuda-kuda tersebut. Meskipun memiliki musim hujan yang relatif sebentar dibandingkan dengan musim kemaraunya yang bisa mencapai 8 bulan, namun Kabupaten Sumba Timur memiliki savana yang sangat luas sekali.</p>
                        <p>Savana atau padang rumput yang paling terkenal adalah Savana Puru Kambera. Apa saja daya tarik dari Savana Puru Kambera tersebut? Maka inilah reviewnya yang sudah kami susun untuk anda.</p>
                        <h3>Pesona Keindahan Savana Puru Kambera Nusa Tenggara Timur</h3>
                        <h4>1. Padang Rumput Yang Luas</h4>
                        <p>Daya tarik yang pertama dari Savana Puru Kambera adalah padang rumput atau savana yang sangat luas. Rumput yang sedikit kecoklat-coklatan, serta beberapa pohon besar menjadi sebuh panorama eksotis. Para pengunjung yang datang akan merasakan sensasi sedang berada di daratan afrika, sebuah jalan beraspal yang berada di tengah-tengah savana, namun sepi dari kendaraan, semakin menyajikan susana sebuah latar yang sering ditampilkan di TV–TV Hollywood. Hasil jepretan kamera tidak usah diragukan lagi, sekalipun anda bukan fotografer handal, namun view alam di sekitar akan membantu memberikan keindahan yang nyaman dilihat. Keindahan Savana Puru Kambera pernah dijadikan sebagai tempat konser dari sebuah band ternama yang ada di Indonesia. Sungguh luar biasa, konser di sebuah savana yang luas nan elok.
                        </p>
                        <h4>2. Kuda Liar Khas Sumba</h4>
                        <p>Panorama  kawanan kuda liar di Savana Puru Kambera dapat terlihat saat musim kemarau tiba. Karena kuda-kuda tersebut menjadikan savana menjadi tempat untuk mencari makan. Kuda khas Sumba Timur disebut dengan Kuda Sandel. Yaitu persilangan antara kuda lokal dengan kuda arab. Dan Kuda Sandel menjadi maskot kebanggaan masyarakat Sumba Timur. Di saat-saat tertentu, di lokasi Savana Puru Kambera selalu dilaksanakan Parade Kuda Sandewood. Sebuah festival yang menyajikan parade kuda lokal, yang berpadu dengan budaya khas masyarakat Sumba. Tidak tanggung-tanggung, parade tersebut pernah diikuti oleh 1001 joki, dan 1001 kuda. Para joki diwajibkan untuk memakai pakaian adat. Dan Savana Puru Kambera menjadi arena utama dari Parade Kuda Sandelwood tersebut. Tetapi bagi pengunjung yang ingin menyaksikan acara tersebut, harus tahu jadwalnya terlebih dahulu ya…</p>
                        <h4>3. Pantai Puru Kambera</h4>
                        <p>Pesona keindahan selanjutnya darai Savana Puru Kambera adalah kehadiran pantai cantik, airnya yang bersih dan kebiru-biruan, serta ekosistemnya yang masih terjaga. Nama pantai tersebut adalah Pantai Puru Kambera yang lokasinya berada di ujung Savana Puru Kambera. Inilah orkestra alam di tanah Sumba Timur. Sebuah sajian alam yang masih natural, jauh dari tangan-tangan jahil. Meskipun masih banyak hal yang perlu ditata, terutama di sisi fasilitasnya.</p>
                        <h3>Lokasi Savana Puru Kambera</h3>
                        <p>Savana Puru kambera berada di Mondu, Kanatang, Kabupaten Sumba Timur, Nusa Tenggara Timur. Lokasi wisata alam ini terletak sekitar 25 km dari Kota Waingapu. Sebenarnya wisata utama di Puru Kambera adalah wisata pantainya yang cukup luas dengan hamparan pasir putihnya yang sangat halus. Jarak dari pantai ke padang savana Puru Kambera adalah sekitar 2-3 km.</p>
                        <h3>Rute Menuju Savana Puru Kambera</h3>
                        <p>Pengunjung harus menempuh sekitar satu jam perjalanan dari kota Waingapu menggunakan kendaraan pribadi maupun kendaraan sewaan untuk menuju Savana Puru Kambera. Hal ini karena belum tersedianya moda transportasi umum menuju lokasi ini. Walaupun perjalanan yang ditempuh cukup panjang, namun keindahan alam yang ada di kawasan wisata ini pun akan membuat pengunjung memiliki sebuah pengalaman yang sulit untuk dilupakan.</p>
                        <h3>Tiket Savana Puru Kambera</h3>
                        <p>Umumnya, harga tiket untuk masuk tempat wisata berbeda antara hari libur, minggu atau hari biasa. Namun tidak demikian dengan Savana Puru kambera. Saat weekday, harga tiket masuk Savana Puru Kambera adalah Rp 15,000.00. Demikian juga dengan harga tiket masuk weekend tetap sama.</p>
                        <h3>Fasilitas Savana Puru Kambera</h3>
                        <p>Berbicara mengenai fasilitas di kawasan savana ini memang tidak terlalu banyak, karena kegiatan akan lebih banyak di alam bebas. Sehingga bagi para wisatawan yang hendak bermalam ataupun mencari makanan dapat harus beranjak ke Pantai Puru Kambera.</p>
                        <a href="https://www.nativeindonesia.com/savana-puru-kambera/">Source</a>
                      </div>
                      <!-- /.post-content -->
                    </article>
                    <!-- /.post -->
                  </div>
                  <!-- /.classic-view -->
                  <hr />
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <p class="mb-4">© 2022 JongKreatif. All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="https://www.facebook.com/wisatamondu"><i class="uil uil-facebook-f"></i></a>
              <a href="https://www.instagram.com/wisata_mondu"><i class="uil uil-instagram"></i></a>
              <a href="https://www.youtube.com/watch?v=sFEvw1wxTKk"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
           <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Mondu, Kecamatan Kanatang, Kabupaten Sumba Timur, Nusa Tenggara Timur</address>
            <a href="mailto:umbu04@gmail.com">umbu04@gmail.com</a><br /> 081-239-857-443
          </div>
                    <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>