<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Pemo Kelimutu</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="">
            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="index.html" class="transition-none d-none d-lg-flex">
                  <h5>Desa</h5>
                  <h5 style="padding-left: 10px;">Pemo</h5>
                  <h5 style="padding-left: 10px;">Kelimutu</h5>
                </a>
                <a href="index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="article.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
  
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-green">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
              <div class="post-category text-line">
                <a href="#" class="hover" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-4">Di Desa Pemo, Hampir Tidak Ada Sekat Antara Budaya dan Agama<h1>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="blog single mt-n17">
              <div class="card">
                <figure class="card-img-top"><img src="./assets/img/photos/adat-desa-pemo3.jpg" alt="" /></figure>
                <div class="card-body">
                  <div class="classic-view">
                    <article class="post">
                      <div class="post-content mb-5">
                        <h2 class="h1 mb-4">Di Desa Pemo, Hampir Tidak Ada Sekat Antara Budaya dan Agama</h2>
                        <p>Dapur itu terpisah dari bangunan rumah dan hanya mempunyai tiga dinding berbahan bambu cincang. Otomatis bagian yang seharusnya menjadi dinding keempat itu terbuka, menghadap bagian belakang rumah, dengan jarak sekitar setengah meter. Tidak ada kompor minyak tanah, apa lagi kompor gas. Yang tersedia hanyalah satu buah tungku kayu yang (diusahakan) baranya selalu menyala. Terdapat bale-bale yang menguasai hampir setengah area dapur. Di atas bale-bale inilah saya duduk bersama ketiga anak lelaki Mama Gusti. Mengobrol dan menyaksikan sendiri betapa uletnya Mama Gusti bekerja karena sebagai tuan rumah 'besar', dia berkewajiban memberi makan dan minum tamu yang datang dalam kegiatan budaya di Desa Pemo.</p>
                        <p>Festival Tedu Tembu Wesa Wela di Desa Pemo merupakan festival yang melibatkan banyak pihak. Selain masyarakat adat dan pemerintah desa setempat, turut berpartisipasi Universitas Flores (Uniflor), Dinas Pariwisata Kabupaten Ende, dan Balai Taman Nasional Kelimutu. Tidak heran, Desa Pemo yang berada di dalam wilayah administrasi Kecamatan Kelimutu merupakan salah satu desa penyangga Taman Nasional Kelimutu dengan jarak paling dekat. Salah satu agenda festival ini adalah upacara adat Joka Ju yang juga ditandai dengan pire, yaitu pantangan-pantangan tertentu yang tidak boleh dilakukan masyarakat di luar rumah. Kegiatan yang dimulai Sabtu (23/10/2021) s.d. Rabu (27/10/2021) tersebut merupakan pembukaan ritual pire yang berlanjut pada Kamis (28/10/2021).</p>
                        <p>Mama Gusti (karena anak pertamanya bernama Gusti) punya tugas yang menurut saya berat. Di depan dapur dia sudah menyediakan termos air panas serta stoples berisi kopi, gula, dan teh. Gelas-gelas juga sudah ditata di atas dulang. Saya sendiri menjadi salah satu tamu yang disuguhi kopi di dapur ini. Nasi sudah ditanak (ready stock). Sementara dia menyiapkan sayuran untuk makan siang. Meskipun panitia festival punya agenda makan siang, tetapi rumah 'besar' harus menyiapkan juga, berjaga-jaga jika ada tamu yang perutnya harus diisi sesegera mungkin. Benak saya dipenuhi pertanyaan.
                        </p>
                        <p>Bagaimana jika persediaan habis? Dari mana Mama Gusti memperoleh khususnya kopi, gula, dan teh? Dana pribadi? Kasihan juga.</p>
                        <p>Pertanyaan itu terjawab, kemudian, ketika dapur didatangi oleh seorang Mama (maaf, saya tidak sempat menanyakan namanya). Status Mama ini kalau disebut oleh mereka adalah ana mamo. Setahu saya, babo dan mamo adalah panggilan kakek dan nenek dalam masyarakat Suku Lio. Ana mamo dapat diistilahkan sebagai anak dan/atau cucu dari garis keturunan tersebut. Kewajiban ana mamo ya itu tadi, membantu rumah 'besar' dengan berbagai cara. Salah satunya dengan memasok kebutuhan saat festival berlangsung. Nilai gotong-royong masih sangat kental, ciri khas masyarakat adat. 
                        </p>
                        <p>Lalu, datang lagi seorang Mama. Saya terkejut. Si Mama ini memakai jilbab (sebut saja Mama Jilbab) sama seperti saya. Ternyata Mama Jilbab juga ana mamo. Saya sempat melihat yang diantar/dibawa adalah gula dan kopi.</p>
                        <p>Sambil menyirih, mengalir cerita tentang garis keturunan mereka. Kawin-mawin dapat menyebabkan masuk atau keluarnya anggota keluarga di lini agama. Tapi perbedaan agama tidak menjadi sekat antara mereka. Budaya (boleh kita sebut juga adat-istiadat atau tradisi) tetap dipegang teguh. Lagi pula, budaya dan agama mengajarkan hal yang sama yaitu patuhi PerintahNya dan jauhi laranganNya. Sesederhana itu. Melihat Mama Jilbab, dalam hati saya berkata: kita sama. Sama-sama datang dari keluarga yang memeluk dua agama, Islam dan Katolik. Dan kita sama-sama hidup dalam kedamaian yang pekat.</p>
                        <p>Cerita ini sudah lama terjadi. Jika tidak mengingat blog ini sebagai catatan sejarah kehidupan (saya), maka sudah pasti saya tidak menulisnya. Tapi rasanya kok sayang sekali ya kalau tidak ditulis.</p>
                        <p>Senang sekali bisa kembali jalan-jalan kerja macam begini. Pandemi Covid-19 memang belum berlalu, tapi kehidupan harus terus berjalan, termasuk kegiatan-kegiatan budaya macam begini. Tapi tetap, harus mematuhi protokol kesehatan. Memakai masker itu wajib, menjaga jarak, mencuci tangan. Alhamdulillah saya pun sudah divaksin dua kali. Sudah divaksin bukan berarti aman 100%, tapi setidaknya tubuh sudah punya perlindungan khusus Covid-19.</p>
                        <p>Di teras rumah Mama Gusti, di plafonnya, bergelantungan buket-buket bunga edelweis. Dalam tatanan yang saya ketahui, bunga edelweis itu langka dan tidak untuk diperjual-belikan. Tapi ternyata mereka membudidayakannya dan bunga-bunga itu dijual. Per buket hanya Rp 10.000. Sayangnya, karena belum tersentuh pelatihan ini itu, jadi buketnya ya begitu saja. Cuma diikat biasa.</p>
                        <p>Saya membeli lima ikat.</p>
                        <p>Saat pulang, saya tidak saja membawa bunga edelweis, tapi juga dihadiahi sekantong kentang segar oleh Mama Gusti. Ya ampun, betapa baiknya Mama Gusti. Tapi, memang begitulah kebiasaan masyarakat desa. Tamu adalah keluarga, kalau tamunya pulang, ya diberi oleh-oleh. Terima kasih, Mama Gusti.</p>
                        <p>Suatu saat, jika memungkinkan, saya akan kembali ke sana. Ke tempat di mana hampir tidak ada sekat antara budaya dan agama.</p>
                        <a href="https://www.tuteh.com/2021/11/di-desa-pemo-hampir-tidak-ada-sekat.html">Source</a>
                      </div>
                      <!-- /.post-content -->
                    </article>
                    <!-- /.post -->
                  </div>
                  <!-- /.classic-view -->
                  <hr />
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <p class="mb-4">© 2022 JongKreatif. All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="https://www.facebook.com/pemokelimutu/"><i class="uil uil-facebook-f"></i></a>
              <a href="https://www.instagram.com/desa_pemo_kelimutu/"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
           <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Pemo, Kecamatan Kelimutu, Kabupaten Ende, Nusa Tenggara Timur</address>
            <a href="mailto:desawisatapemokelimutu@email.com">desawisatapemokelimutu@gmail.com</a><br /> 082-237-240-412
          </div>
                    <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>