<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Pemo Kelimutu</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="">
            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="index.html" class="transition-none d-none d-lg-flex">
                  <h5>Desa</h5>
                  <h5 style="padding-left: 10px;">Pemo</h5>
                  <h5 style="padding-left: 10px;">Kelimutu</h5>
                </a>
                <a href="index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="article.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
  
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-green">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
              <div class="post-category text-line">
                <a href="#" class="hover" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-4">Potensi Desa Yang Dekat Danau Kelimutu, Menjadikan Desa Sebagai Potensi Wisata<h1>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="blog single mt-n17">
              <div class="card">
                <figure class="card-img-top"><img src="./assets/img/photos/jalan-di-desa-pemo.jpeg" alt="" /></figure>
                <div class="card-body">
                  <div class="classic-view">
                    <article class="post">
                      <div class="post-content mb-5">
                        <h2 class="h1 mb-4">Potensi Desa Yang Dekat Danau Kelimutu, Menjadikan Desa Sebagai Potensi Wisata</h2>
                        <p>Desa Pemo di Kabupaten Ende, Flores, NTT didorong untuk menjadi desa wisata karena memiliki potensi keindahaan dan budaya. Pasalnya, desa tersebut berada di dekat salah satu destinasi wisata andalan yakni danau tiga warna yang dikenal dengan Danau Kelimutu. Wawan Gunawan, Direktur Pengembangan Destinasi Regional II Kemenparekraf mengatakan pemerintah ingin Desa Wisata Pemo dapat mempersiapkan sumber daya manusia (SDM) untuk menjadi desa wisata.</p>
                        <p>Tak hanya itu, Desa Pemo memiliki keindahan alam sehingga dapat menjadi daya tarik wisatawan yang berkunjung ke Ende di Flores tengah. Selain Kelimutu, di Ende juga terdapat Museum Bung Karno.</p>
                        <p>“Kami berkolaborasi dengan Kemendes PDTT untuk mengembangkan desa wisata dan masyarakatnya. Masing-masing desa memiliki daya tarik dan potensi wisata alam yang mengagumkan,” ujarnya dalam keterangan resmi, Jumat (25/9/2020). Eddy Susilo, Koordinator Area I Direktorat Pengembangan Destinasi Regional II Kemenparekraf mengatakan guna mensukseskan Desa Pemo sebagai desa wisata, masyarakat harus sepenuh hati serta saling bekerja sama guna dapat mensejahterakan Desa Pemo melalui Pariwisata.
                        </p>
                        <p>“Kegiatan Bimbingan Teknis Peningkatan Kapasitas SDM Desa Wisata Pemo di Destinasi Super Prioritas Labuan Bajo ini memang tidak dilaksanakan dalam waktu yang lama, tetapi kami berharap kegiatan kali ini dapat memotivasi masyarakat agar dapat memperoleh hidup yang sejahtera melalui pariwisata,” paparnya. Masyarakat, katanya, harus memiliki kesepahaman, pemikiran, serta kebersamaan dalam membangun pariwisata di Desa Pemo. Pasalnya, masyarakat akan menjadi faktor penentu pengembangan desa wisata.</p>
                        <p>"Selain itu menerapkan protokol kesehatan di desa wisata menjadi hal yang penting di era kenormalan baru,” paparnya. Xaverius Pemo, Kepala Desa Pemo mengatakan masyarakat Desa Pemo sangat berterima kasih karena pemerintah sangat mendukung pengembangan desa wisata. Dia menjelaskan, sebelumnya Desa Pemo telah bekerja sama dengan Balai Taman Nasional Kelimutu untuk menciptakan atraksi penunjang Kelimutu, diantaranya Taman Edelweiss dan Taman Stroberi.
                        </p>
                        <p>"Kami juga berharap dapat terus bekerja sama dengan pemerintah baik di kabupaten, provinsi serta pusat dalam mengembangkan desa kami," jelasnya.</p>
                        <a href="https://ekonomi.bisnis.com/read/20200925/12/1296539/dekat-danau-kelimutu-desa-ini-didorong-jadi-desa-wisata">Source</a>
                      </div>
                      <!-- /.post-content -->
                    </article>
                    <!-- /.post -->
                  </div>
                  <!-- /.classic-view -->
                  <hr />
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <p class="mb-4">© 2022 JongKreatif. All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="https://www.facebook.com/pemokelimutu/"><i class="uil uil-facebook-f"></i></a>
              <a href="https://www.instagram.com/desa_pemo_kelimutu/"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
           <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Pemo, Kecamatan Kelimutu, Kabupaten Ende, Nusa Tenggara Timur</address>
            <a href="mailto:desawisatapemokelimutu@email.com">desawisatapemokelimutu@gmail.com</a><br /> 082-237-240-412
          </div>
                    <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>