<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Pemo Kelimutu</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="">
            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="index.html" class="transition-none d-none d-lg-flex">
                  <h5>Desa</h5>
                  <h5 style="padding-left: 10px;">Pemo</h5>
                  <h5 style="padding-left: 10px;">Kelimutu</h5>
                </a>
                <a href="index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="article.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
  
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-green">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
              <div class="post-category text-line">
                <a href="#" class="hover" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-4">Menggali Mutiara Adat Desa Pemo, Kelimutu<h1>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="blog single mt-n17">
              <div class="card">
                <figure class="card-img-top"><img src="./assets/img/photos/rumah-adat-desa-pemo2.jpg" alt="" /></figure>
                <div class="card-body">
                  <div class="classic-view">
                    <article class="post">
                      <div class="post-content mb-5">
                        <h2 class="h1 mb-4">Menggali Mutiara Adat Desa Pemo, Kelimutu</h2>
                        <p>Dalam perjalanan menelusuri Keindahan Alam Kawasan Wisata Kelimutu di Kabupaten Ende-Flores, kita akan melihat sebuah perkampungan penduduk, di lereng-lereng gunung. Di sekitarnya tampaklah pula perkebunan warga yang dikelilingi hutan kopi yang sedap dipandang mata. Dari kejauhan kita akan melihat sebuah kampung besar :  Woloara. Disebelah selatan Woloara terdapat sebuah kampung namanya “Pemo”.</p>
                        <p>Kampung Pemo sangat dikenal dengan pesta adat Tolak Bala (Joka Ju). Upacara Jika Ju ( Tola Bala ) dipimpin para Mosalaki Pu’u, Mosalaki Ria Bewa, Mosalaki Ulu Eko, Mosalaki Turu Tengu Kana Wara, Mosalaki Tuke Sani Ria Bewa, dan Mosalaki Ine Tana Embu Watu. Tujuan upacara yakni Joka Ju (tolak bala) : menolak roh-roh jahat dari kampung “Pemo” agar seluruh masyarakat adat “Pemo” bekerja dengan hasil berlimpah. Upacara pesta adat ini dilaksanakan setiap tahun pada bulan Oktober.</p>
                        <p>Rangkaian upacara tersebut melalui beberapa tahapan seperti mengambil hati babi dalam keadaan hidup-hidup untuk dilihat (meramal) tentang keadaan atau peristiwa yang akan terjadi dikampung mereka, bahkan peristiwa atau kejadian yang akan dialami bangsa dan negara kita seperti gejolak politik dan bencana alam.
                        </p>
                        <p>Hati babi yang diperlihatkan dapat diramalkan bahwa Kampung Adat Pemo atau masyarakat Pemo dalam bercocok tanam dan bertani akan mendapat rejeki dan memperoleh hasil yang berlimpah dan semua kehidupan di masyarakat berjalan lancar, sedangkan untuk bangsa dan negara kita diramalkan akan terjadi gejolak politik yang hebat dan bencana alam besar, karena dari hati babi yang diperlihatkan terdapat luka besar ditengah-tengah hati babi tersebut. Ramalan yang diramalkan oleh Mosalaki (tua adat) biasanya benar-benar terjadi dan sudah terbukti pada tahun-tahun sebelumnya baik ramalan untuk keadaan bangsa dan negara kita. Maka dari itu untuk mengetahui keadaan atau kejadian yang akan dialami nanti, komunitas masyarakat adat Pemo selalu melaksanakan upacara ritual adat setiap tahunnya, sehingga adat harus tetap dijaga dan dilestarikan.</p>
                        <p>Selain acara-acara dan ritus-ritus adat, Are Wati, Manu Eko, Moke Boti (beras, ayam dan tuak) adalah sarana sakral dalam melestarikan adat. Dalam pesta adat Joka Ju (Tolak Bala), Ana Kalo Fai Walu (komunitas masyarakat adat) sebagai penggarap lahan, wajib mboko satu tu gha tubu, (beras, ayam dan tuak) diantar kerumah adat, kemudian upacaraJoka Ju (Tolak Bala) baru dilaksanakan, sehingga harapan Mosalaki dan Ana Kalo Fai Walu (tua adat bersama komunitas masyarakat adatnya) tentang Tedo Tembu Wesa Wela (tanam, tumbuh, hambur pun jadi) dapat tercapai.Joka Ju (tolak bala).
                        </p>
                        <p>Dalam menggandakan talenta kehidupan yang dimaknai dengan “mboko satu tu gha tubu, wi ana kalo fai walu tedo. Tembu wesa wela…..” yang dapat diartikan, kami mempersembahkan kepadamu Allah dan leluhur kami, apa yang telah kami hasilkan, agar Allah dan leluhur menambahkan kami benih yang akan mendatangkan hasil berlimpah. Joka Ju (tolak bala) adalah momen konservasi makna sakralitas, spiritualitas dan moralitas dalam diri orang-orang Pemo, sebagaimana termuat dalam tuturan tentang sejarah asal-usul Pemo, dan syair-syair bermakna ajaran yang dilantunkan berulang-ulang dalam gawi (tandak) bersama antara Ana Kalo Fai dan Mosalaki (komunitas masyarakat adat dan tua adat) Pemo.</p>
                        <a href="https://www.pelitadesa.id/menggali-mutiara-adat-di-desa-pemo-kelimutu/">Source</a>
                      </div>
                      <!-- /.post-content -->
                    </article>
                    <!-- /.post -->
                  </div>
                  <!-- /.classic-view -->
                  <hr />
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <p class="mb-4">© 2022 JongKreatif. All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="https://www.facebook.com/pemokelimutu/"><i class="uil uil-facebook-f"></i></a>
              <a href="https://www.instagram.com/desa_pemo_kelimutu/"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
           <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Pemo, Kecamatan Kelimutu, Kabupaten Ende, Nusa Tenggara Timur</address>
            <a href="mailto:desawisatapemokelimutu@email.com">desawisatapemokelimutu@gmail.com</a><br /> 082-237-240-412
          </div>
                    <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>