<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Kampung Wisata Rewarangga</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
      <nav class="navbar navbar-expand-lg center-nav transparent position-absolute navbar-dark caret-none">
        <div class="container flex-lg-row flex-nowrap align-items-center">
          <div class="navbar-brand w-100">
            <a href="index.html">
              <h4 style="color: rgb(0, 0, 0);">Kampung Wisata Rewarangga</h4>
            </a>
          </div>
          <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
            <div class="offcanvas-header d-lg-none d-xl-none">
              <a href="./index.html"><img src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" /></a>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
              <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-mega">
                  <a class="nav-link" href="index.html" style="color: black" data-bs-toggle="">Home</a>
                  <!--/.dropdown-menu -->
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="blog-post.html" style="color: black" data-bs-toggle="">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="blog2.html" style="color: black" data-bs-toggle="">Article</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="gallery.html" style="color: black" data-bs-toggle="">Gallery</a>
                </li>
                <li class="nav-item dropdown dropdown-mega">
                  <a class="nav-link" href="contact.html" style="color: black" data-bs-toggle="">Contact</a>
                  <!--/.dropdown-menu -->
                </li>
              </ul>
            </div>
            <!-- /.offcanvas-body -->
          </div>
          <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-green">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
              <div class="post-category text-line">
                <a href="#" class="hover" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-4">Kunjungan Bupati Ende ke Rumah Tenun Rewarangga<h1>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="blog single mt-n17">
              <div class="card">
                <figure class="card-img-top"><img src="./assets/img/photos/fasilitas-menenun.jpg" alt="" /></figure>
                <div class="card-body">
                  <div class="classic-view">
                    <article class="post">
                      <div class="post-content mb-5">
                        <h2 class="h1 mb-4">Kampung Wisata Rewarangga</h2>
                        <p>Untuk bisa bersaing di pasaran, para penenun harus bisa melakukan berbagai inovasi sehingga tenun ikat yang dihasilkan tidak sekadar jadi pajangan semata, namun memiliki nilai ekonomis.Kendati demikian, inovasi jangan sampai mengubah motif kain tenun karena di balik motif tenunan ada cerita peradaban dari nenek moyang dan leluhur.Demikian disampaikan Bupati Ende Djafar Achmad saat melaunching rumah tenun ikat milik kelompok Moke Keso di Kelurahan Rewarangga, Kecamatan Ende Timur, Kamis 30 September 2021.</p>
                        <p>Selain inovasi, Bupati Djafar mendorong kelompok tenun ikat Moke Keso untuk berkolaborasilah dengan pegiat tenun ikat lainnya. Dia juga mengajak para penenun untuk terus melestarikan motif kain tenun "Motif yang tergambar dalam tenunan tersebut memiliki cerita kultural maupun religi, karena itu harus pertahankan motif tersebut," ujarnya.</p>
                        <p>Bupati Djafar menyebutkan, kedepannya Pemkab Ende akan mendaftarkan kurang lebih 12 motif tenun Ende Lio sebagai hak cipta komunal di Kementerian Hukum dan HAM. Ini penting dilakukan agar tidak ada yang akan mengklaim bahwa motif tenun ikat tersebut milik mereka.
                        </p>
                        <p>"Dinas Perindustrian dan Perdagangan dan Koperasi UKM setidaknya sudah mencatat sedikitnya 12 motif untuk didaftarkan sebagai hak cipta intelektual komunal," terang orang nomor satu di Kabupaten Ende itu.
                        </p>
                        <p>Di akhir sambutannya, Bupati berharap Pemerintah Kelurahan setempat bisa fasilitasi pembangunan rumah penjualan bagi kelompok tenun ikat Moke Keso,  mengingat lokasi runah tenun ikat tersebut sangat strategis karena berada di pinggir jalan.
                        </p>
                        <p>"Setidaknya para wisatawan yang hendak melintas menuju Kelimutu bisa singgah untuk membeli souvenir di sini. Tentu saja promosi harus terus digalakkan," ungkap Bupati Djafar seraya meminta kelompok tenun ikat Moke Keso  untuk melakukan kerja sama dengan Dinas terkait.
                        </p>
                        <p>Sementara Lurah Rewarangga Adriyanto ditemui usai kegitan menyebutkan, rumah tenun ikat ini didirikan pada tahun 2016. Namun baru diresmikan oleh Bupati Ende. Untuk membantu kelompok tenun ikat, Adriyanto mengaku pihaknya telah melakukan pendampingan khususnya tentang pewarnaan"Kedepannya kami akan terus giat mendampingi kelompok ini. Kami akan gandeng instansi terkait untuk melakukan pelatihan kepada anggota kelompok," kata dia.
                        </p>
                        <p>Lebih lanjut, Ketua Kelompok Tenun Ikat Moke Keso Anastasia Nia menyebutkan, di tahun 2016 jumlah anggota kelompok sebanyak 15 orang. Seiring waktu berjalan, ada penambahan anggota. Hingga saat ini anggota berjumlah 30 orang "Awalnya kami 15 orang. Saat ini sudah 30 orang. Kegiatan kelompok tenun ini dilaksanakan seminggu dua kali yakni Selasa dan Sabtu," jelas Anastasia.</p>
                        <p>Ia mengaku pernah mendapatkan pelatihan untuk meningkatkan keterampilan. Dan apa yang didapatkan saat pelatihan, dia bagikan kepada seluruh anggota. Sebagai ketua kelompok, Anastasia merasa bangga karena rumah tenun ikat kelompok Moke Keso diresmikan oleh Bupati Ende Djafar Achmad. "Terimakasih Pak Bupati. Semoga kedepannya pemerintah terus melakukan pendampingan, sehingga nantinya bisa meningkatkan ekonomi keluarga seluruh anggota kelompok," pungkasnya.</p>
                      </div>
                      <!-- /.post-content -->
                    </article>
                    <!-- /.post -->
                  </div>
                  <!-- /.classic-view -->
                  <hr />
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container py-13 py-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <p class="mb-4">© 2022 JongKreatif. <br class="d-none d-lg-block" />All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-lg-6">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Kel. Rewarangga, Kecamatan Ende Timur, Kabupaten Ende, Nusa Tenggara Timur</address>
            <br /> 082-144-401-718
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <!-- /column -->
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>