<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Ululoga</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
      <nav class="navbar navbar-expand-lg center-nav transparent position-absolute navbar-dark caret-none">
        <div class="container flex-lg-row flex-nowrap align-items-center">
          <div class="navbar-brand w-100">
            <a href="index.html">
              <h4 style="color: rgb(0, 0, 0);">Desa Wisata Ululoga</h4>
            </a>
          </div>
          <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
            <div class="offcanvas-header d-lg-none d-xl-none">
              <a href="./index.html"><img src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" /></a>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
              <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-mega">
                  <a class="nav-link" href="index.html" style="color: black" data-bs-toggle="">Home</a>
                  <!--/.dropdown-menu -->
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="blog-post.html" style="color: black" data-bs-toggle="">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="blog2.html" style="color: black" data-bs-toggle="">Article</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="gallery.html" style="color: black" data-bs-toggle="">Gallery</a>
                </li>
                <li class="nav-item dropdown dropdown-mega">
                  <a class="nav-link" href="contact.html" style="color: black" data-bs-toggle="">Contact</a>
                  <!--/.dropdown-menu -->
                </li>
              </ul>
            </div>
            <!-- /.offcanvas-body -->
          </div>
          <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
    </header> 
    <!-- /header -->
    <section class="wrapper bg-soft-green">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
              <div class="post-category text-line">
                <a href="#" class="hover" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-4">Desa Ululoga dan Legenda Air Wudhu alami Berusia ribuan tahun<h1>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="blog single mt-n17">
              <div class="card">
                <figure class="card-img-top"><img src="./assets/img/photos/depan_desa_ululoga.jpg" alt="" /></figure>
                <div class="card-body">
                  <div class="classic-view">
                    <article class="post">
                      <div class="post-content mb-5">
                        <h2 class="h1 mb-4">Desa Ululoga dan Legenda Air Wudhu alami Berusia ribuan tahun</h2>
                        <p>Pajoreja merupakan sebuah kampung kecil yang berada di Desa Ululoga, Kecamatan Mauponggo, Kabupaten Nagekeo, Provinsi Nusa Tenggara Timur (NTT). Lokasinya persis di bawah kaki Gunung Ebulobo yang menjulang tinggi, dan di sebelah selatannya berbatasan dengan pemandangan Laut Sawu yang indah.</p>
                        <p>Sadar akan potensi pariwisata yang besar, Desa Ululoga saat ini mulai berbenah diri untuk menarik lebih banyak kunjungan pelancong. Apalagi kawasan ini tidak hanya menawarkan keindahan alam, tapi juga sejarah dan budayanya yang kuat.</p>
                        <p>Penari terdepan bertindak sebagai pemandu. Ia memberikan aba-aba atau perintah bagi penari lainnya. Mereka memainkan gerak kaki, tangan kepala dan seluruh badan. Gerakan dimulai dengan kaki kiri, gerak maju mundur berputar ditempat, atau balik kanan. Juga antara pemain saling berhadapan dan meragakan orang yang berperang, gerakan menikam dengan tombak, memotong dengan parang, atau menangkis dengan perisai, terkadang diikuti dengan teriakan penuh semangat atau teriakan histeris.
                        </p>
                        <p>Letaknya yang tepat berada di bawah kaki Gunung Ebulobo, turut memberikan nuansa kedamaian di bawah naungan kabut pagi dan senja dalam memberikan warna kehidupan. Menuju pajarejo hanya membutuhkan waktu sekitar 1,5 jam dari Kota Mbay, Ibukota Kabupaten Nagekeo, atau 20 menit dari ibu kota Kecamatan Mauponggo. Kawasan yang berada di ketinggian 600 m dpl ini menjanjikan sebuah pemandangan lepas ke arah pantai di pusat kecamatan.</p>
                        <p>Bruno Sanda, pramuwisata lokal, Selasa (4/5/2021) mengatakan, sudah banyak fasilitas penunjang wisata di kawasan ini, antara lain homestay. "Pengunjung yg ingin mendaki Gunung Ebulobo, bisa menikmati hangatnya air di tempat pemandian alam Lowo Aebana dan mengunjungi lokasi sejarah air wudu alami ratusan tahun peninggalan agama Islam," katanya.</p>
                        <p>Bruno mengatakan, meski warga Desa Ululoga seratus persen menganut Katolik, namun mereka tidak berkeberatan jika di desanya ada tempat bersejarah bagi agama Islam. "Tempat wudu alami itu letaknya 500 meter dari Kampung Pajoreja," kata Bruno. Bruno lebih jauh menceritakan, sejarah keberadaan air wudu alami itu berawal pada tahun 1700-an. Ada seorang perempuan bernama Ine Buka Oma yang menganut Agama Islam. Dia berasal dari Kampung Tonggo - Nangaroro, datang ke kampung Pajoreja mengikuti suaminya yang bernama Ema Bu'u Moni, yang saat itu masih belum beragama</p>
                        <p>"Walapun berada di tempat suaminya yang belum beragama, Ine Buka Oma tidak lupa akan kewajibannya sebagai orang yang beragama Islam, yaitu salat. Ine Buka Oma dengan sendirinya mengambil air dari mata air dan melakukan salat. Persis berada di mata air tersebut terdapat sebuah batu besar untuk bisa dilakukan salat. Dan pada waktu itu masyarakat setempat menamakan batu itu Watu Noa," tuturnya.</p>
                        <p>Orang-orang tua zaman dulu bersaksi, di Watu Noa atau lokasi tempat salanya Ine Buka Oma, kerap terdengar bunyi seperti orang sedang salat. Sampai saat ini tempat wudu alam itu masih ada, letaknya persis di bawah pohon Nengi, dalam bahasa setempat. Pohon Nengi diperkirakan sudah tumbuh sebelum Ine Buka Oma masuk ke Pajoreja. Yang unik, meski sudah masuk musim panas, kucuran air wudu peninggalan Ine Buka Oma tidak pernah kering.</p>
                        <p>Karena pengaruh penyebaran Agama Katolik yang mulai masuk wilayah Ngada dan Ende saat itu, apalagi banyak masyarakat Pajoreja mulai mengikuti agama Katolik maka sampai saat ini keturunan Ebu Buu Moni tidak ada yang mengikuti jejak Ine Buka Oma sebagai penganut Islam. “Walaupun di kampung Pajoreja desa Ululoga pada umumnya masyarakat menganut agama Katolik, tetapi tempat Wudhu tersebut tetap dijaga dan dilestarikan oleh masyarakat setempat sebagai tempat sejarah agama Islam dan juga bentuk toleransi antara umat beragama,” ungkapnya.</p>
                        <p>Sehingga dari cerita tersebut, berdasarkan inisiasi masyarakat dan kepala desa setempat untuk menggali kembali sejarah masuknya agama Islam di Kampung Pajoreja, Desa Ululoga.</p>
                      </div>
                      <!-- /.post-content -->
                    </article>
                    <!-- /.post -->
                  </div>
                  <!-- /.classic-view -->
                  <hr />
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-dark text-inverse">
    <div class="container py-13 py-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-lg-4">
          <div class="widget">
            <p class="mb-4">© 2022 JongKreatif. All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <div class="col-lg-6">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Ululoga, Kecamatan Mauponggo, Kabupaten Nagakeo, Nusa Tenggara Timur</address>
            <a href="mailto:ululogadesa@gmail.com">ululogadesa@gmail.com</a><br /> 085-238-807-580
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>