<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Were III</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="./assets/css/colors/sky.css">
  <link rel="preload" href="./assets/css/fonts/dm.css" as="style" onload="this.rel='stylesheet'">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="./index.html">
            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="./index.html" class="transition-none d-none d-lg-flex">
                  <h4>Desa</h4>
                  <h5 style="padding-left: 10px;">Were</h5>
                  <h5 style="padding-left: 10px;">III</h5>
                </a>
                <a href="./index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="blog.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper bg-white">
      <div class="container pt-10 pt-md-14 pb-14 pb-md-16 text-center">
        <div class="row gx-lg-8 gx-xl-12 gy-10 gy-xl-0 mb-14 align-items-center">
          <div class="col-lg-7 order-lg-2">
            <figure><img class="rounded" src="./assets/img/photos/persawahan_desa_were.jpg" alt="" /></figure>
          </div>
          <!-- /column -->
          <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center text-lg-start">
            <h1 class="display-1 fs-54 mb-5 mx-md-n5 mx-lg-0 mt-7">Desa Wisata<br class="d-md-none">  Were III <br class="d-md-none"><span class="rotator-fade text-primary">Penginapan,Wisata Budaya,Wisata Alam</span></h1>
            <p class="lead fs-lg mb-7">Desa Were III, Kecamatan Golewa, Kabupaten Ngada, Nusa Tenggara Timur.</p>
          </div>
          <!-- /column -->
        </div>
      </div>
      <!-- /.container -->
      <div class="overflow-hidden">
        <div class="divider text-soft-primary mx-n2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100">
            <path fill="currentColor" d="M1260,1.65c-60-5.07-119.82,2.47-179.83,10.13s-120,11.48-180,9.57-120-7.66-180-6.42c-60,1.63-120,11.21-180,16a1129.52,1129.52,0,0,1-180,0c-60-4.78-120-14.36-180-19.14S60,7,30,7H0v93H1440V30.89C1380.07,23.2,1319.93,6.15,1260,1.65Z" />
          </svg>
        </div>
      </div>
      <!-- /.overflow-hidden -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-gradient-primary">
      <div class="container pt-12 pt-lg-8 pb-14 pb-md-17">
        <div class="row text-center">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h2 class="fs-16 text-uppercase text-primary mb-3"></h2>
            <h3 class="display-3 mb-10 px-xxl-10"></h3>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row gx-lg-8 gx-xl-12 gy-11 px-xxl-5 text-center d-flex align-items-end">
          <div class="col-lg-4">
            <div class="px-md-15 px-lg-3">
              <figure class="mb-6"><img class="img-fluid" src=""  alt="" /></figure>
              <h3>Tari adat Reba</h3>
              <p class="mb-2">Reba merupakan upacara adat yang bertujuan untuk melakukan penghormatan dan ucapan rasa terima kasih terhadap jasa para leluhur.</p>
            </div>
            <!--/.px -->
          </div>
          <!--/column -->
          <div class="col-lg-4">
            <div class="px-md-15 px-lg-3">
              <figure class="mb-6"><img class="img-fluid" src="" alt="" /></figure>
              <h3>Penagkapan Gurita</h3>
              <p class="mb-2">Para wisatawan akan dipandu oleh profesional diving lokal, untuk melakukan cara dan penangkapan gurita secara tradisional yang diwariskan turun menurun dari nenek moyang.
              </p>
            </div>
            <!--/.px -->
          </div>
          <!--/column -->
          <div class="col-lg-4">
            <div class="px-md-15 px-lg-3">
              <figure class="mb-6"><img class="img-fluid" alt="" /></figure>
              <h3>Uta Tabha</h3>
              <p class="mb-2">Bahan dasarnya jagung (sae) atau beras jagung (dhea sae), kacang merah atau brenebon (boji), labu siam kuning (besi), ubi jalar merah (dhao), daun pepaya muda (uta padu), kelapa dan garam.</p>
            </div>
            <!--/.px -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-17">
        <div class="row gx-md-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="card shadow-lg me-lg-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <h4 class="mb-1">Homestay</h4>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
            <div class="card shadow-lg ms-lg-13 mt-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <h4 class="mb-1">Sanggar Seni</h4>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
            <div class="card shadow-lg mx-lg-6 mt-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <h4 class="mb-1">Outbond</h4>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <!--/column -->
          <div class="col-lg-6">
            <h2 class="fs-16 text-uppercase text-primary mb-3">Introduction</h2>
            <h3 class="display-3 mb-4">Desa Wisata Were III</h3>
            <p>Desa Were III merupakan merupakan salah satu dari 21 Desa dan Kelurahan yang berada di Kabupaten Ngada. Iklimnya yang tropis menjadikan sektor pertanian menjadi sektor penting dalam peningkatan perekonomian masyarakat. Desa Were III merupakan penyumbang terbesar dalam produksi beras di Kabupaten Ngada. Areal persawahan seluas 171 Ha, melimpahnya ketersediaan air, pola tanam terasering dan sistem pengairan yang baik menjadikan merupakan terluas di Kabupaten Ngada menjadi faktor pendukung dalam peningkatan hasil pertanian di Desa ini. Selain beras komoditi utama dari Desa Were III adalah tanaman pisang dan kemiri.</p>
            <a href="about.html" class="btn btn-primary rounded-pill mb-0">Learn More</a>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container py-14 py-md-16">
        <div class="row">
          <div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto">
            <h2 class="fs-15 text-uppercase text-primary text-center">Our News</h2>
            <h3 class="display-4 mb-6 text-center">Here are the latest news from our blog that got the most attention.</h3>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="position-relative">
          <div class="shape bg-dot primary rellax w-17 h-20" data-rellax-speed="1" style="top: 0; left: -1.7rem;"></div>
          <div class="swiper-container dots-closer blog grid-view mb-6" data-margin="0" data-dots="true" data-items-xl="3" data-items-md="2" data-items-xs="1">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="item-inner">
                    <article>
                      <div class="card">
                        <figure class="card-img-top overlay overlay-1 hover-scale"><a href="single-project.html"><img src="./assets/img/photos/pesta_adat_reba.jpg" alt=""></a>
                          <figcaption>
                            <h5 class="from-top mb-0">Read More</h5>
                          </figcaption>
                        </figure>
                        <div class="card-body">
                          <div class="post-header">
                            <div class="post-category text-line">
                              <a href="#" class="hover" rel="category"></a>
                            </div>
                            <!-- /.post-category -->
                            <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="./single-project.html">Deskripsi Pesta adat Reba</a></h2>
                          </div>
                          <!-- /.post-header -->
                          <div class="post-content">
                            <p>Reba merupakan upacara adat yang bertujuan untuk melakukan penghormatan dan ucapan rasa terima kasih terhadap jasa para leluhur. Upacara ini juga digunakan untuk mengevaluai segala hal tentang kehidupan bermasyarakat pada tahun sebelumnya yang telah dijalani oleh masyarakat Kabupaten Ngada.</p>
                          </div>
                          <!-- /.post-content -->
                        </div>
                        <!--/.card-body -->
                        <div class="card-footer">
                          <ul class="post-meta d-flex mb-0">
                            <li class="post-date"><i class="uil uil-calendar-alt"></i><span>29 Mar 2021</span></li>
                          </ul>
                          <!-- /.post-meta -->
                        </div>
                        <!-- /.card-footer -->
                      </div>
                      <!-- /.card -->
                    </article>
                    <!-- /article -->
                  </div>
                  <!-- /.item-inner -->
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                  <div class="item-inner">
                    <article>
                      <div class="card">
                        <figure class="card-img-top overlay overlay-1 hover-scale"><a href="single-project2.html"><img src="./assets/img/photos/uta_tabha_desa_were.jpg" alt=""></a>
                          <figcaption>
                            <h5 class="from-top mb-0">Read More</h5>
                          </figcaption>
                        </figure>
                        <div class="card-body">
                          <div class="post-header">
                            <div class="post-category text-line">
                              <a href="#" class="hover" rel="category"></a>
                            </div>
                            <!-- /.post-category -->
                            <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="./single-project2.html">Uta Tabha, Makanan Khas Kabupaten Ngada</a></h2>
                          </div>
                          <!-- /.post-header -->
                          <div class="post-content">
                            <p>Bahan dasarnya jagung (sae) atau beras jagung (dhea sae), kacang merah atau brenebon (boji), labu siam kuning (besi), ubi jalar merah (dhao), daun pepaya muda (uta padu), kelapa dan garam.</p>
                          </div>
                          <!-- /.post-content -->
                        </div>
                        <!--/.card-body -->
                        <div class="card-footer">
                          <ul class="post-meta d-flex mb-0">
                            <li class="post-date"><i class="uil uil-calendar-alt"></i><span>17 May 2021</span></li>
                          </ul>
                          <!-- /.post-meta -->
                        </div>
                        <!-- /.card-footer -->
                      </div>
                      <!-- /.card -->
                    </article>
                    <!-- /article -->
                  </div>
                  <!-- /.item-inner -->
                </div>
                <!--/.swiper-slide -->
              </div>
              <!--/.swiper-wrapper -->
            </div>
            <!-- /.swiper -->
          </div>
          <!-- /.swiper-container -->
        </div>
        <!-- /.position-relative -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container py-14 py-md-16">
        <div class="row">
          <div class="col-xl-10 mx-auto">
            <div class="card">
              <div class="row gx-0">
                <div class="col-lg-6 align-self-stretch">
                  <div class="map map-full rounded-top rounded-lg-start">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17465.66479784625!2d121.09798840091835!3d-8.901755207546332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2db2c494143a424b%3A0x6905052ba2c7a9be!2sWere%20III%2C%20Kec.%20Golewa%2C%20Kabupaten%20Ngada%2C%20Nusa%20Tenggara%20Tim.!5e1!3m2!1sid!2sid!4v1655299649035!5m2!1sid!2sid" style="width:100%; height: 100%; border:0" allowfullscreen></iframe>
                  </div>
                  <!-- /.map -->
                </div>
                <!--/column -->
                <div class="col-lg-6">
                  <div class="p-10 p-md-11 p-lg-14">
                    <div class="d-flex flex-row">
                      <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"></i> </div>
                      </div>
                      <div class="align-self-start justify-content-start">
                        <h5 class="mb-1">Address</h5>
                        <address>Desa Were III, Kecamatan Golewa, Kabupaten Ngada, Nusa Tenggara Timur</address>
                      </div>
                    </div>
                    <!--/div -->
                    <div class="d-flex flex-row">
                      <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"></i> </div>
                      </div>
                      <div>
                        <h5 class="mb-1">Phone</h5>
                        <p>082-144-093-526</p>
                      </div>
                    </div>
                    <!--/div -->
                    <div class="d-flex flex-row">
                      <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"></i> </div>
                      </div>
                      <div>
                        <h5 class="mb-1">E-mail</h5>
                        <p class="mb-0"><a href="mailto:rensbali8@email.com" class="link-body">rensbali8@gmail.com</a></p>
                      </div>
                    </div>
                    <!--/div -->
                  </div>
                  <!--/div -->
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <p class="mb-4">© 2022 Jongkreatif. <br class="d-none d-lg-block" />All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Were III, Kecamatan Golewa, Kabupaten Ngada, Nusa Tenggara Timur</address>
            <a href="mailto:rensbali8@gmail.com">rensbali8@gmail.com</a><br />082-144-093-526
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>