<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Tiworiwu</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="preload" href="./assets/css/fonts/dm.css" as="style" onload="this.rel='stylesheet'">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="./index.html">

            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="./index.html" class="transition-none d-none d-lg-flex">
                  <h4>Desa</h4>
                  <h5 style="padding-left: 10px;">Tiworiwu</h5>
                </a>
                <a href="./index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="blog.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper image-wrapper bg-image bg-overlay text-white" data-image-src="./assets/img/photos/perumahan-adat-bena.jpg">
      <div class="container pt-17 pb-12 pt-md-19 pb-md-16 text-center">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="post-header">
              <div class="post-category text-line text-white">
                <a href="#" class="text-reset" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-3 text-white">Serba-serbi Tarian Ja'i</h1>
              <p class="lead px-md-12 px-lg-12 px-xl-15 px-xxl-18"></p>
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light wrapper-border">
      <div class="container pt-14 pt-md-16 pb-13 pb-md-15">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <article>
              <h2 class="display-6 mb-4"></h2>
              <div class="row gx-0">
                <div class="col-md-9 text-justify">
                  <p>Tari Ja’i adalah tarian tradisional masyarakat Ngada di Flores, Nusa Tenggara Timur (NTT). Tarian ini merupakan tarian masal yang dilakukan oleh masyarakat di sana sebagai ungkapan rasa syukur dan kegembiraan. Tari Ja’i ini merupakan tarian tradisional yang cukup terkenal di Flores, khususnya masyarakat Ngada, dan sering ditampilkan dalam berbagai acara seperti perayaan, upacara adat dan menyambut tamu kehormatan.</p>
                  <p>Tari Ja’i ini merupakan salah satu tarian tradisional masyarakat suku Ngada yang sering ditampilkan dalam ritus Sa'o Ngaza. Tarian ini dilakukan sebagai ungkapan rasa syukur dan kegembiraan masyarakat. Tari Ja’i ini biasanya dilakukan secara masal oleh masyarakat suku Ngada, semakin banyak yang mengikuti tarian tersebut maka akan semakin hikmat. Bagi masyarakat Ngada, selain sebagai ungkapan rasa syukur, Tari Ja’i juga memiliki nilai-nilai kehidupan masyarakat yang sangat penting didalamnya.</p>
                  <p>Seperti yang dikatakan di atas, Tari Ja’i merupakan tarian yang sering ditampilkan pada upacara adat sebagai ungkapan rasa syukur dan kegembiraan mereka. Bagi masyarakat suku Ngada, Tari Ja’i memiliki nilai-nilai penting untuk kehidupan, baik dalam bersosial dan bermasyarakat. Dalam tarian ini kita bisa melihat bagaimana semangat kebersamaan itu selalu terjalin di antara mereka.</p>
                  <p>Tari Ja’i ini merupakan tarian tradisional yang dilakukan secara masal dan dapat dilakukan oleh penari pria maupun wanita, semakin banyak peserta yang mengikuti tarian, itu semakin bagus. Dalam pertunjukannya para penari berbaris dan bergerak secara bersamaan dengan gerakan khas Tari Ja’i mengikuti alunan irama dari musik pengiring. Gerakan Tari Ja’i ini cukup sederhana dan dilakukan secara berulang-ulang. Namun karena dilakukan bersama-sama maka tarian ini terasa meriah dan menyenangkan.</p>
                  <p>Dalam pertunjukannya, para penari diiringi oleh irama musik gong dan gendang yang disebut dengan Laba go. Laba go ini terdiri dari dhera, wela-wela, uto-uto, meru dan laba. Kelima alat musik tersebut dimainkan dengan padu dan menghasilkan irama musik jai yang khas. dalam pertunjukan Tari Ja’i, biasanya gerakan tari harus disesuaikan dengan iringan musik Laba go tersebut.</p>
                  <p>Dalam pertunjukan Tari Ja’i para penari harus menggunakan pakaian adat lengkap. Untuk pakaian adat laki-laki biasanya terdiri boku, mara ngia, sapu, lu’e, keru, lega jara, dhegho dan sau. Sedangkan pakaian adat perempuan terdiri dari lua manu, lawo, mara ngia, dhegho, lega jara, kasa sese, keru, dan butu.</p>
                  <p>Dalam perkembangannya, Tari Ja’i ini mulai mendapatkan perhatian dan dikenal oleh masyarakat luas. Kini Tari Ja’i tidak hanya ditampilkan untuk acara adat tertentu saja, tarian ini juga sering ditampilkan di berbagai acara budaya, baik di tingkat daerah, nasional, bahkan internasional. Selain itu berbagai variasi dan modifikasi juga sering dilakukan dalam pertunjukannya, agar terlihat lebih menarik dan tidak kaku, namun tidak meninggalkan bentuk aslinya. Hal ini dilakukan sebagai bentuk usaha melestarikan tradisi dan budaya, agar tidak punah dan tetap hidup seiring dengan perkembangan zaman.</p>
                </div>
                <!--/column -->
                <div class="col-md-2 ms-auto">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="mb-1">Date</h5>
                      <p>17 May 2018</p>
                    </li>
                  </ul>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </article>
            <!-- /.project -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container py-10">
        <div class="row gx-md-6 gy-3 gy-md-0">
          <div class="col-md-8 align-self-center text-center text-md-start navigation">
            <a href="single-project.html" class="btn btn-soft-ash rounded-pill btn-icon btn-icon-start mb-0 me-1"><i class="uil uil-arrow-left"></i> Prev Post</a>
            <a href="single-project3.html" class="btn btn-soft-ash rounded-pill btn-icon btn-icon-end mb-0">Next Post <i class="uil uil-arrow-right"></i></a>
          </div>
          <!--/column -->
          <aside class="col-md-4 sidebar text-center text-md-end">
            <div class="dropdown share-dropdown btn-group">
              <button class="btn btn-red rounded-pill btn-icon btn-icon-start dropdown-toggle mb-0 me-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="uil uil-share-alt"></i> Share </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="uil uil-twitter"></i>Twitter</a>
                <a class="dropdown-item" href="#"><i class="uil uil-facebook-f"></i>Facebook</a>
                <a class="dropdown-item" href="#"><i class="uil uil-linkedin"></i>Linkedin</a>
              </div>
              <!--/.dropdown-menu -->
            </div>
            <!--/.share-dropdown -->
          </aside>
          <!-- /column .sidebar -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <img class="mb-4" src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" />
            <p class="mb-4">© 2022 Jongkreatif. <br class="d-none d-lg-block" />All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Tiworiwu, Kecamatan Jerebuu, Kabupaten Ngada, Nusa Tenggara Timur</address>
            <a href="mailto:fancitomu@gmail.com">fancitomu@gmail.com</a><br /> 085-333-649-104
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>