<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Batu Cermin</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper bg-dark">
      <nav class="navbar navbar-expand-lg center-nav transparent navbar-dark">
        <div class="container flex-lg-row flex-nowrap align-items-center">
          <div class="navbar-brand w-100">
            <a href="./index.html">
              <h3>Desa Batu Cermin</h3>
            </a>
          </div>
          <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
            <div class="offcanvas-header d-lg-none d-xl-none">
              <a href="./index.html"><img src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" /></a>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="index.html" >Home</a>
                  <!--/.dropdown-menu -->
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="article.html">Article</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="gallery.html">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                  <!--/.dropdown-menu -->
                </li>
              </ul>
              <!-- /.navbar-nav -->
              <div class="d-lg-none mt-auto pt-6 pb-6 order-4">
                <a href="mailto:first.last@email.com" class="link-inverse">info@email.com</a>
                <br /> 00 (123) 456 78 90 <br />
                <!-- /.social -->
              </div>
              <!-- /offcanvas-nav-other -->
            </div>
            <!-- /.offcanvas-body -->
          </div>
          <!-- /.navbar-collapse -->
          <div class="navbar-other w-100 d-flex ms-auto">
            <ul class="navbar-nav flex-row align-items-center ms-auto">
              <li class="nav-item d-lg-none">
                <button class="hamburger offcanvas-nav-btn"><span></span></button>
              </li>
            </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-green">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
              <div class="post-category text-line">
                <a href="#" class="hover" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-4">Tips Berwisata Ke Goa Batu Cermin<h1>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="blog single mt-n17">
              <div class="card">
                <figure class="card-img-top"><img src="./assets/img/photos/akses-goa-batucermin.jpg" alt="" /></figure>
                <div class="card-body">
                  <div class="classic-view">
                    <article class="post">
                      <div class="post-content mb-5">
                        <h2 class="h1 mb-4">Tips Berwisata Ke Goa Batu Cermin</h2>
                        <p>Keselamatan pengunjung sangat diutamakan dalam mengunjungi obyek wisata di Pulau Flores, Nusa Tenggara Timur. Keselamatan itu ada pada pribadi masing-masing juga pengunjung harus mengikuti petunjuk-petunjuk dari pemandu lokal. Tak terkecuali saat anda mengunjungi obyek wisata goa alam Batu Cermin, Desa Batu Cermin, Manggarai Barat, Flores, NTT. Saat anda berkunjung ke Goa Batu Cermin, anda berhadapan dengan batu alam</p>
                        <p>Batu alam di Goa Batu Cermin itu ada yang cadas dan ada yang halus. Memang di beberapa titik sudah ada tangga yang terbuat dari semen. Namun, pada saat hujan, tangga itu kadang-kadang licin, juga batu alamnya licin. Hasil pengamatan KompasTravel ketika beberapa kali mengunjungi obyek itu. Ada beberapa tips bagi pengunjung saat berwisata ke tempat itu.</p>
                        <h3>1. Didampingi Pemandu Lokal</h3>
                        <p>Saat anda membayar karcis masuk yang dijaga petugas Dinas Pariwisata Manggarai Barat, mulai saat itulah anda siap dipandu oleh pemandu lokal. Pemandu lokal di tempat itu ada yang masih praktek lapangan dari Sekolah Menengah Kejuruan Pariwisata Labuan Bajo. Juga pemandu lokal yang ditempatkan di obyek wisata itu yang siap memandu pengunjung.</p>
                        <p>Pemandu lokal akan memandu anda mulai dari pintu gerbang sampai di dalam goa. Sebaiknya pengunjung mematuhi apa yang dijelaskan oleh pemandu demi kenyamanan dan keselamatan anda selama berkunjung di tempat itu. Pemandu akan memberikan penjelasan tentang sejarah goa alam itu yang kini berusia ratusan tahun. Pemandu akan memandu anda saat mengelilingi goa alam itu sampai selesai.</p>
                        <p>Pada akhir perjalanan, pengunjung memberikan tips kepada pemandu lokal. Jumlahnya tergantung kerelaan dari pengunjung. Kenyaman, keamanan dan keselamatan anda terjamin selama berwisata yang dipandu pemandu lokal. Pemandu juga akan memberikan petunjuk mana batu atau benda yang bisa disentuh dan mana yang tidak boleh disentuh.</p>
                        <h3>2. Memakai Sepatu</h3>
                        <p>Ada berbagai sepatu yang dipakai. Jika anda berencana berwisata ke Goa Batu Cermin, sebaiknya bersepatu wisata, bukan sepatu kantoran. Mengapa bersepatu? Karena goa alam itu penuh dengan batu, ada yang tajam maupun yang halus. Sebaiknya bersepatu agar kaki pengunjung tidak luka kalau terantuk dengan batu tajam. Juga tidak terpeleset saat bersentuhan dengan batu licin.</p>
                        <p>Menggunakan sepatu agar pengunjung merasa nyaman saat melangkahkan kaki dari satu tangga ke tangga lainnya, juga nyaman saat bersentuhan dengan batu.</p>
                        <h3>3. Memakai Helm</h3>
                        <p>Tibalah anda di pintu masuk ke goa bawah tanah Batu Cermin. Anda sudah penasaran dengan berbagai informasi yang ditawarkan biro perjalanan juga pamflet-pamflet yang berceritakan tentang keunikan Goa Batu Cermin.</p>
                        <p>Tujuan utama wisatawan mengunjungi Batu Cermin adalah untuk melihat dan menyaksikan sendiri batu yang konon diceritakan batu berbentuk cermin. Wisatawan penasaran dengan cerita tersebut dan ada yang ingin bercermin di batu alam itu. Bahkan, ada sebagian pengunjung membawa sisir untuk mencoba menyisir rambut di hadapan batu cermin tersebut.</p>
                        <p>Tidak gampang masuk di Goa Batu Cermin itu. Saat tiba di tengah goa, ada lubang masuk sebagai pintu utama ke bawah goa. Pengunjung diharuskan memakai helm yang berada di batu di sisi goa itu. Memakai helm diperlukan agar kepala pengunjung saat jongkok masuk goa tidak tertusuk batu stalaktit. Masuknya harus satu-satu sehingga pengunjung antre di pintu masuk.</p>
                        <p>Pengunjung yang keluar dari goa alam itu harus berhenti sampai pengunjung masuk tiba di ruang besar bawah goa itu karena lorong-lorong masuknya hanya untuk satu orang pengunjung. Selama ada di dalam goa bawah batu cadas itu, pengunjung terus memakai helm demi keselamatan kepalanya supaya tidak terantuk dengan batu.</p>
                        <h3>4. Dilarang Berisik</h3>
                        <p>Selama berada di dalam goa Batu Cermin, pengunjung tetap menjaga kesunyian dan sebaiknya tidak boleh berisik atau ribut. Sebaiknya mendengar penjelasan pemandu lokal juga pengunjung boleh bertanya.</p>
                        <p>Saat berada di ruang besar bawah goa batu itu, pengunjung bisa menyaksikan keunikan alam serta ada sejumlah hewan laut yang ada di dinding batu, seperti penyu, ikan dan beberapa hewan lainnya. Suasana di dalam gua itu gelap gulita.</p>
                        <h3>5. Membawa Senter</h3>
                        <p>Pihak pengelola Goa Batu Cermin sudah menyediakan senter untuk penerangan selama perjalanan di dalam goa itu. Juga bisa ditambah dengan cahaya handphone bagi pengunjung yang membawa telepon seluler yang dilengkapi fasilitas tersebut.</p>
                        <h3>6. Batu Cermin</h3>
                        <p>Kini tibalah saatnya pengunjung berada di obyek utama Batu Cermin yang berada di celah-celah batu cadas goa itu. Disebut Batu Cermin karena ada sebuah lubang dari bubungan batu cadas itu.</p>
                        <p>Lubang dengan lebar tak seberapa itu sebagai pintu masuknya cahaya matahari sepanjang hari. Sinar matahari masuk melalui lubang itu dan memantulkan sinarnya di bebatuan di bawahnya. Lalu, sinar itu memantulkan ke seluruh dinding batu sekitarnya yang seperti cermin. Sinar matahari yang pantul ke seluruh sudut batu itu memantul kembali ke batu sebelumnya dan dengan warna-warni cahayanya. Itu keajaiban Goa Batu Cermin.</p>
                      </div>
                      <a href="https://travel.kompas.com/read/2017/11/18/113000927/tips-berwisata-ke-goa-batu-cermin-di-labuan-bajo?page=all">Source</a>
                      <!-- /.post-content -->
                    </article>
                    <!-- /.post -->
                  </div>
                  <!-- /.classic-view -->
                  <hr />
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-dark text-inverse">
    <div class="container pt-17 pt-md-19 pb-13 pb-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <nav class="nav social social-white">
              <p class="mb-4">© 2022 JongKreatif. All rights reserved.</p>
              <a href=""><i class="uil uil-facebook-f"></i></a>
              <a href=""><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-9">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Batu Cermin, Kec. Komodo, Kabupaten Manggarai Barat, Nusa Tenggara Timur</address>
            <br /> 081-338-810-904
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>