<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Koja Doi</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="preload" href="./assets/css/fonts/dm.css" as="style" onload="this.rel='stylesheet'">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="./index.html">
            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="./index.html" class="transition-none d-none d-lg-flex">
                  <h4>Desa</h4>
                  <h5 style="padding-left: 10px;">Koja</h5>
                  <h5 style="padding-left: 10px;">Doi</h5>
                </a>
                <a href="./index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="blog.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper image-wrapper bg-image bg-overlay text-white" data-image-src="./assets/img/photos/atraksi-sawara(2).jpg">
      <div class="container pt-17 pb-12 pt-md-19 pb-md-16 text-center">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="post-header">
              <div class="post-category text-line text-white">
                <a href="#" class="text-reset" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-3 text-white">Uniknya Jembatan Batu</h1>
              <p class="lead px-md-12 px-lg-12 px-xl-15 px-xxl-18"></p>
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light wrapper-border">
      <div class="container pt-14 pt-md-16 pb-13 pb-md-15">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <article>
              <h2 class="display-6 mb-4"></h2>
              <div class="row gx-0">
                <div class="col-md-9 text-justify">
                  <p> Pulau Koja Doi terbilang kecil bila dibandingkan dengan pulau-pulau berpenghuni lain di sekitar perairan Teluk Maumere. Meskipun begitu, namanya sudah terkenal sebagai salah satu destinasi wisata yang wajib dikunjungi wisatawan saat datang ke Maumere. Salah satu spot terkenal di Koja Doi adalah jembatan batu sepanjang 680 meter, penghubung Pulau Besar di utara dan Pulau Koja Doi  sendiri di selatan. Ada sejarah yang membaluti keindahan jembatan batu tersebut.</p>
                  <p>Bagi warga Pulau Koja Doi, jembatan batu purba adalah karya monumental. Dikatakan monumental, menurut tokoh masyarakat setempat, La Mane Untu, karena dikerjakan secara bergotong royong oleh warga. La Mane bercerita bahwa awalnya masyarakat pulau Koja Doi mendayung perahu untuk menyeberang ke Pulau Besar. Mereka ke Pulau Besar karena semua fasilitas publik, baik sekolah maupun poliklinik desa ada di sana.</p>
                  <p>“Orang Bajo menamakan pulau ini Tukukaba artinya pulau Kelelawar sebab dulunya penuh dengan kelelawar. Sebelumnya ada Koja Gete sementara di depannya ada pulau kecil sehingga dinamakan Koja Doi yang artinya kenari kecil,” kata La Mane yang juga mantan kepala Desa Koja Doi beberapa waktu lalu. Pembangunan jembatan batu, kisah La Mane, dimulai pada tahun 1979. Saat itu di Pulau Besar sedang ada serangan hama babi hutan yang merusak tanaman pertanian warga. Untuk menumpas babi hutan, Dirinya meminta bantuan dan bersurat dan Bupati Sikka pun mengutus TNI AD Kodim 1603 Sikka.</p>
                  <p>“Selama seminggu tidak mendapatkan seekor babi pun. Mereka menemui saya dan mengatakan kalau bisa kami bantu kerja apa. Saya katakan, warga sudah lama ingin bangun jembatan batu,” ucapnya. Tentara pun sepakat, sehingga dirinya mengumumkan kepada segenap warga di Pulau Besar dan Koja Doi yang masih merupakan sebuah desa.Selama tiga minggu bekerja, pembangunan jembatan setinggi sekitar 1,5 meter dan lebar sekitar 1 meter rampung. Bebatuan diambil dari pesisir pantai Pulau Besar dan dari daratan. Bebatuan tersebut hanya disusun saja. Pengerjaan dilanjutkan tahun 1983. Dananya menggunakan dana padat karya dari pemerintah pusat. Pada pekerjaan kedua ini, masyarakat sendiri yang mengerjakannya.</p>
                  <p>“Kami tidak mengambil karang hidup dari laut tapi karang mati yang berada di tepi pantai dan daratan,” kata La Mane saat ditanyai adanya batu karang yang digunakan untuk bangun jembatan. Kepala Desa Koja Doi, Hanawi sudah membuat perencanaan. Kata dia, untuk menahan bebatuan runtuh maka bagian pinggir bebatuan akan dibungkus dengan anyaman rotan. “Kalau menggunakan semen maka mudah rusak tergerus ombak. Lebih baik pakairotan karena selain tahan air, juga unik dan menggunakan bahan alam,” ucapnya. Selanjutnya, Pemkab Sikka memberikan bantuan untuk pembangunan jembatan unik ini pada tahun 2014. Uniknya, saat air laut pasang, orang yang menyeberang seperti berjalan di atas air karena jembatan tertutup air laut.
                  </p>
                  <p>Hanawi mengatakan, salah seorang wisatawan dari Jakarta pernah meminta agar jembatan batu disemen atau diaspal. Meskipun sang wisatawan membantu semen, pihak desa dan masyarakat bersikeras menolak. “Jembatan batu ini unik dan jarang ada jembatan batu di dunia sepanjang ini. Jembatan ini yang membuat Koja Doi terkenal dan merupakan warisan sejarah,” ucap Hanawi.</p>
                </div>
                <!--/column -->
                <div class="col-md-2 ms-auto">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="mb-1">Date</h5>
                      <p>29 Mar 2021</p>
                    </li>
                  </ul>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </article>
            <!-- /.project -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container py-10">
        <div class="row gx-md-6 gy-3 gy-md-0">
          <div class="col-md-8 align-self-center text-center text-md-start navigation">
            <a href="single-project.html" class="btn btn-soft-ash rounded-pill btn-icon btn-icon-start mb-0 me-1"><i class="uil uil-arrow-left"></i> Prev Post</a>
            <a href="single-project3.html" class="btn btn-soft-ash rounded-pill btn-icon btn-icon-end mb-0">Next Post <i class="uil uil-arrow-right"></i></a>
          </div>
          <!--/column -->
          <aside class="col-md-4 sidebar text-center text-md-end">
            <div class="dropdown share-dropdown btn-group">
              <button class="btn btn-red rounded-pill btn-icon btn-icon-start dropdown-toggle mb-0 me-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="uil uil-share-alt"></i> Share </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="uil uil-twitter"></i>Twitter</a>
                <a class="dropdown-item" href="#"><i class="uil uil-facebook-f"></i>Facebook</a>
                <a class="dropdown-item" href="#"><i class="uil uil-linkedin"></i>Linkedin</a>
              </div>
              <!--/.dropdown-menu -->
            </div>
            <!--/.share-dropdown -->
          </aside>
          <!-- /column .sidebar -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <footer class="bg-navy text-inverse">
      <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
        <!--/div -->
        <hr class="mt-11 mb-12" />
        <div class="row gy-6 gy-lg-0">
          <div class="col-md-4 col-lg-3">
            <div class="widget">
              <p class="mb-4">© 2022 Jongkreatif. <br class="d-none d-lg-block" />All rights reserved.</p>
              <nav class="nav social social-white">
                <a href="#"><i class="uil uil-twitter"></i></a>
                <a href="#"><i class="uil uil-facebook-f"></i></a>
                <a href="#"><i class="uil uil-dribbble"></i></a>
                <a href="#"><i class="uil uil-instagram"></i></a>
                <a href="#"><i class="uil uil-youtube"></i></a>
              </nav>
              <!-- /.social -->
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
          <div class="col-md-4 col-lg-6">
            <div class="widget">
              <h4 class="widget-title text-white mb-3">Get in Touch</h4>
              <address class="pe-xl-15 pe-xxl-17">Desa Koja Doi, Kecamatan Alok Timur, Kabupaten Sikka, Nusa Tenggara Timur</address>
              <a href="mailto:hanawikojadoi3@gmail.com">hanawikojadoi3@gmail.com</a><br />081-339-493-420
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </footer>
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <img class="mb-4" src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" />
            <p class="mb-4">© 2022 Jongkreatif. <br class="d-none d-lg-block" />All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Tiworiwu, Kecamatan Jerebuu, Kabupaten Ngada, Nusa Tenggara Timur</address>
            <a href="mailto:fancitomu@gmail.com">fancitomu@gmail.com</a><br /> 085-333-649-104
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>