<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Koja Doi</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="preload" href="./assets/css/fonts/dm.css" as="style" onload="this.rel='stylesheet'">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="./index.html">
            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="./index.html" class="transition-none d-none d-lg-flex">
                  <h4>Desa</h4>
                  <h5 style="padding-left: 10px;">Koja</h5>
                  <h5 style="padding-left: 10px;">Doi</h5>
                </a>
                <a href="./index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="blog.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper image-wrapper bg-image bg-overlay text-white" data-image-src="./assets/img/photos/atraksi-sawara(2).jpg">
      <div class="container pt-17 pb-12 pt-md-19 pb-md-16 text-center">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="post-header">
              <div class="post-category text-line text-white">
                <a href="#" class="text-reset" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-3 text-white">Sunset dan Sunrise terlihat jauh lebih Menawan dari Bukit Batu Purba</h1>
              <p class="lead px-md-12 px-lg-12 px-xl-15 px-xxl-18"></p>
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light wrapper-border">
      <div class="container pt-14 pt-md-16 pb-13 pb-md-15">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <article>
              <h2 class="display-6 mb-4"></h2>
              <div class="row gx-0">
                <div class="col-md-9 text-justify">
                  <p>Koja Doi merupakan nama pulau sekaligus desa di gugusan pulau dalam kawasan Taman Wisata Alam Laut (TWAL) Teluk Maumere. Ukurannya relatif kecil kalau dibandingkan dengan pulau-pulau berpenghuni di sekitar Teluk Maumere. Meskipun demikian, Koja Doi mampu menyihir siapa saja yang datang lewat pesona alamnya. Sebut saja Bukit Batu Purba. Bebatuan hitam berukuran besar ini bertumpuk dan membentuk bukit batu. Bukit batu ini memiliki ketinggian sekitar 30 meter dengan lebar mencapai 100 meter persegi, dengan ukuran itu bentuknya menyerupai bulat telur. Melihat keunikan alam dan konturnya, bukit ini layak menjadi salah satu destinasi instagramable di Maumere.</p>
                  <p>Terdapat pohon Beringin di puncak bukit batu. Terdapat dua ayunan di pohon ini. Sekelilingnya dipasang beberapa tiang kayu dengan berbagai tulisan warna-warni. Hanawi, Kepala Desa Koja Doi, beberapa waktu lalu mengatakan, kawasan Koja Doi pernah dikunjungi peneliti asal Kanada yang ingin melakukan penelitian soal batu purba. "Mereka datang menggunakan helikopter. Ingin meneliti batu purba. Batu yang biasa dipakai membangun candi," katanya.</p>
                  <p>Bukit ini tampak gersang di musim kemarau. Beberapa pohon Reo tanpa daun tumbuh di sekeliling bukit. Menghadap ke selatan, pengunjung bisa melihat bukit kecil pulau Koja Doi di depan mata. Kubah masjid berwarna emas dan deretan rumah warga terlihat jelas. Sejauh mata memandang, tampak air laut berwana hijau dan kebiruan. Beberapa sampan dan perahu nelayan terlihat hilir mudik menangkap ikan. Memandang ke utara dari seberang bukit batu, Pulau Besar seolah persis di depan mata. Jarak pulau ini dari Pulau Koja Doi hanya sekitar 700 meter. Deretan hutan mangrove dan jembatan terlihat indah dipandang mata.</p>
                  <p>Banyak wisatawan yang datang kesini mengagumi tempat ini. Menurut mereka pemandangan dari bukit batu purba sangat indah dan menyejukan hati. "Dengan pemandangan alamnya yang hijau dan asri dikelilingi laut yang tampak tenang dan bersih. Tempatnya pun tergolong bebas dari sampah," ucapnya. Deretan tali pengikat rumput laut terlihat berjejer di samping jembatan batu. Hanawi mengatakan di Koja Doi, budidaya rumput laut tersebut baru kembali dikembangkan tiga tahun terakhir, atas kerja sama warga dengan TNI AL dari Lanal Maumere. Bibit rumput laut pun disediakan Lanal Maumere. Koja Doi terkenal berkat rumput lautnya yang berkualitas.</p>
                  <p>Saat hotel Sao Wisata didirikan Frans Seda pada 1986, kata tokoh masyarakat, La Mane Untu, dirinya menjual hasil laut. Masyarakat dilarang mengebom ikan lagi. Sosialisasi pun gencar dilakukan bagi warga kepulauan. Didapat solusi, warga harus diberdayakan. Ada 137 warga desa Koja Doi yang berprofesi sebagai nelayan tangkap. Fasilitas penunjang transportasi laut yang ada di desa ini, antara lain motor laut sebanyak 9 unit dan ojek laut 41 unit.
                  </p>
                </div>
                <!--/column -->
                <div class="col-md-2 ms-auto">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="mb-1">Date</h5>
                      <p>17 May 2021</p>
                    </li>
                  </ul>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </article>
            <!-- /.project -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container py-10">
        <div class="row gx-md-6 gy-3 gy-md-0">
          <div class="col-md-8 align-self-center text-center text-md-start navigation">
            <a href="single-project.html" class="btn btn-soft-ash rounded-pill btn-icon btn-icon-start mb-0 me-1"><i class="uil uil-arrow-left"></i> Prev Post</a>
            <a href="single-project3.html" class="btn btn-soft-ash rounded-pill btn-icon btn-icon-end mb-0">Next Post <i class="uil uil-arrow-right"></i></a>
          </div>
          <!--/column -->
          <aside class="col-md-4 sidebar text-center text-md-end">
            <div class="dropdown share-dropdown btn-group">
              <button class="btn btn-red rounded-pill btn-icon btn-icon-start dropdown-toggle mb-0 me-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="uil uil-share-alt"></i> Share </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="uil uil-twitter"></i>Twitter</a>
                <a class="dropdown-item" href="#"><i class="uil uil-facebook-f"></i>Facebook</a>
                <a class="dropdown-item" href="#"><i class="uil uil-linkedin"></i>Linkedin</a>
              </div>
              <!--/.dropdown-menu -->
            </div>
            <!--/.share-dropdown -->
          </aside>
          <!-- /column .sidebar -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <p class="mb-4">© 2022 Jongkreatif. <br class="d-none d-lg-block" />All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Koja Doi, Kecamatan Alok Timur, Kabupaten Sikka, Nusa Tenggara Timur</address>
            <a href="mailto:hanawikojadoi3@gmail.com">hanawikojadoi3@gmail.com</a><br />081-339-493-420
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>