<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Ilepadung</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="https://www.desaweretiga.com">

            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="index.html" class="transition-none d-none d-lg-flex">
                  <h5>Desa</h5>
                  <h5 style="padding-left: 10px;">Ilepadung</h5>
                  <h5 style="padding-left: 10px;"></h5>
                </a>
                <a href="index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="article.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
  
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-green">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
              <div class="post-category text-line">
                <a href="#" class="hover" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-4">Desa Ilepadung Penghasil Mete Organik<h1>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="blog single mt-n17">
              <div class="card">
                <figure class="card-img-top"><img src="./assets/img/photos/hasil-bumi-ilepadung.jpg" alt="" /></figure>
                <div class="card-body">
                  <div class="classic-view">
                    <article class="post">
                      <div class="post-content mb-5">
                        <h2 class="h1 mb-4">Desa Ilepadung Penghasil Mete Organik</h2>
                        <p>David Dusumarang, pria berusia 42 tahun dan Simon Sina Lemaheking, 40 tahun mengangkat sebuah ember besar berisi kacang mete. Mereka hendak menjemurnya di bawah sengatan terik matahari. Dekat lapangan bulu tangkis depan gedung pengolahan mete di Dusun Rangtobi, Desa Ilepadung, Kecamatan Lewolema, Kabupaten Larantuka.   Sengatan sinar matahari yang terik membuat mereka peluh dengan keringat. Namun mereka tetap bertahan dan tak putus asa untuk mengeringkan seluruh kacang mete.</p>
                        <p>David dan Simong adalah salah satu petani Jambu Mete di desa ini. Perkebunan Jambu Mete terhampar luas sepanjang Pantai Ilepadung. Pohonnya tumbuh subur hingga bukit-bukit nan berbatu. Sepanjang jalan wangi dari buah Jambu Mete terasa segar. Daun-daunnya terlihat tebal berwarna kekuningan.   “Pohon Jambu Mete ini ditanam pada tahun 1989 hingga 1995,” kata Simon Sina Lemaheking. Wajahnya terlihat hitam. Kumis tebal tumbuh subur di atas bibirnya. Sesekali ia mengelap keringat di wajahnya.   Warga Ilepadung mendapatkan bibit Jambu Mete dari pemerintah pada dekade tahun 1980’an. Tujuannya untuk menghijaukan perbukitan Flores yang kering. Bibit Jambu Mete tersebut ternyata tumbuh subur dan cocok dengan keadaan Pulau Flores. Empat tahun bibit Jambu Mete itu sudah bisa menghasilkan buah Mete.</p>
                        <p>Warga Ilepadung mendapat rejeki dari setiap pohon Jambu Mete tersebut. David Dusumarang, misalnya. Ia memiliki 90 pohon Jambu Mete. Setiap musim panen, perkebunan Metenya menghasilkan 500 hingga 700 kilogram gelondong biji Mete.   Perkebunan Jambu Mete ini milik rakyat. Total luas perkebunan Mete di Ilepadung mencapai 187 hektar. Setiap tahunnya desa ini menghasilkan 130 ton gelondong biji mete. Pada tahun 2005, perkebunan Jambu Mete di Desa Ilepadung ini juga mendapatkan sertifikasi organik internasional dari IMO atau Institute for Marketecology. Kacang Mete dari Ilepadung masuk ke pasar mancanegara, seperti Eropa dan Amerika. Sertifikasi dan kerja keras dari petani bisa mendongkrak nilai jual kacang mete.   Saat ini harga setiap kilo kacang mete organik sebesar Rp 80.000. Sedangkan dalam bentuk gelondong nilai jualnya sebesar Rp 10.000 tiap kilonya. Harga ini jauh lebih tinggi ketimbang harga Mete yang ditetapkan pasar lokal non organik.
                        </p>
                        <p>“Minimum perbedaannya 15 persen dari harga lokal yang non organik,” kata Aridito Prihananto. Konsultan untuk kendali kualitas dari Swisscontact. Desa lain yang sudah mendapatkan sertifikasi organik internasional di Flores adalah Lewobele dan Serinuho.   “Tapi pembayarannya tidak bisa langsung. Berbeda dengan penjualan non organik. Petani terkadang butuh cepat uang,” kata Yohanes Wato Aran yang berusia 40 tahun, salah seorang petani organik menimpali.   Kehidupan warga Ilepadung bergantung pada perkebunan Jambu Mete. Harga jual Mete organik ini membuat kehidupan warga menjadi lebih baik. Di dusun ini warga sudah mulai tinggal di rumah yang bertembok. Alas lantai juga sudah memasang keramik maupun tembok semen biasa.</p>
                        <p>Namun, pemerintahan Kabupaten Larantuka belum membangun desa ini secara optimal. Padahal Ilepadung telah memberikan kontribusi tidak sedikit. Mereka bisa hidup mandiri dan telah membantu meringankan pekerjaan pemerintah. Selain itu, Ilepadung juga telah mengharumkan nama Flores. Sebagai salah satu desa penghasil mete organik yang kualitasnya sudah diakui secara internasional.   Fasilitas penting bagi warga di desa ini masih terbilang belum memadai. Listrik, misalnya. Desa ini masih mengandalkan pada beberapa mesin genset untuk memasok kebutuhan listrik sehari-hari. Genset ini tentu saja bisa menyala kalau pasokan solar maupun bensin tersedia dengan cukup. Padahal desa ini sama sekali tidak ada tempat pom bensin.</p>
                        <p>warga di sini masih kesulitan dengan akses dan fasilitas air untuk kebutuhan sehari-hari. Perempuan di dusun ini terpaksa mengambil air dengan menggunakan ember maupun jerigen kecil di tempat penampungan air. Mereka meletakkan ember berisi air itu tepat di atas kepalanya setiap pagi dan sore hari. Jaringan pipa air yang memasok hingga ke pemukiman warga belum ada. Beruntung, Ilepadung memiliki mata air di atas bukit. Airnya tidak pernah surut bahkan tampak deras mengalir menuju pantai.   Desa Ilepadung menyuguhkan pemandangan yang enak di mata. Pantainya terlihat tenang. Suara air laut terdengar pelan namun syahdu. Batu-batu kecil terhampar di sepanjang pantai. Airnya jernih. Setiap pagi dan sore hari, warga terlihat bermain dan berenang di pinggir pantai. Sesekali membakar ikan segar laut hasil tangkapan.</p>
                        <p>Beta beruntung dapat melihat atraksi loncat Ikan Marlin dari kejauhan. Perutnya terlihat putih mengkilap. Dengan mulutnya yang panjang seperti jarum. Beta mengabadikannya dengan jepretan kamera Nikon D80. Air laut pecah berwarna putih akibat hantaman dari loncatan Marlin.   Desa Ilepadung memang terpencil. Dari Maumere, ibukota Kabupaten Sikka, menempuh sekitar 130 km ke arah Flores timur. Jalannya berkelak kelok seperti ular. Jalannya sudah beraspal. Kiri kanan jalan dapat pemandangan pantai. Sesekali hutan dan melewati bukit-bukit yang kering. Sinar matahari yang terik membuat daun-daun pohon terlihat rontok. Kalau beruntung dapat melihat sekawanan monyet ekor panjang liar yang melintas di jalan.</p>
                        <p>Keadaan alam yang kering membuat warga harus terus bekerja keras. Selain mengandalkan pada perkebunan Mete, warga Ilepadung juga mengandalkan pada Pohon Lontar yang tumbuh liar di sela perkebunan. Warga mengambil sari air dari Pohon Lontar untuk membuat gula merah dan juga arak. Warga di Flores menyebutnya dengan Moke.   Beta sempat mencicipi Moke. Dari yang manis sampai yang terasa keras di kerongkongan. Kalau minum banyak, Moke membuat mabuk. Minum sedikit saja terasa hangat sampai tulang dada. Warga membuat Moke dengan cara penyulingan sederhana. Sari air tersebut dimasak menggunakan kayu bakar. Uapnya kemudian masuk pada sebilah bambu. Tetesan demi tetesan disimpan dalam botol. Air uap tersebut berwarna bening.</p>
                        <p>Salahsatu warga senior pembuat arak dari Ilepadung adalah Petrus Belalo Koten. Usianya kini menginjak 60 tahun. Kulit wajahnya terlihat keriput. Rahangnya terlihat kuat. Rambutnya sudah beruban dan terlihat sedikit botak. Ia mengaku dari setiap botol ia jual sebesar Rp 5000. Botol berisi arak tersebut kemudian dibawa ke pasar di Larantuka. Sekitar satu jam dari Desa Ilepadung ke arah selatan.   Kehidupan warga Desa Ilepadung bisa jauh lebih baik jika mereka mampu memanfaatkan sumber daya alam lainnya. Misalnya menangkap ikan laut maupun menanam rumput laut. Kegiatan bekerja di laut ini bisa ikut mendongkrak kehidupan warga Ilepadung. Apalagi warga sudah memiliki pengetahuan tentang organik. Bukankah organik bisa diterapkan juga untuk mengolah ikan laut maupun rumput laut?.</p>
                        <p>“Warga belum memanfaatkan potensi ikan di sana. Mereka cuma mengambil untuk kebutuhan sehari-hari. Itu pun hanya untuk kebutuhan makan saja. Tidak untuk dijual,” kata Aridito Prihananto. Padahal menurutnya, selain bisa memanfaatkan pada potensi ikan laut, warga juga bisa budidaya rumput laut.   Pada tahun 1980 hingga 1990 tak sedikit warga dari Desa Ilepadung yang bekerja di Malaysia. Mereka merantau untuk mencari pekerjaan sebagai kuli perkebunan Sawit maupun untuk berdagang. Namun, usaha tersebut tak membuat hidup mereka menjadi lebih baik. Malah mengalami pengalaman pahit karena mereka mesti petak umpat dengan petugas imigrasi dari pemerintahan Malaysia.</p>
                        <p>“Kami tidak ingin kerja lagi di Malaysia. Lebih baik rawat punya kebun sendiri. Hasilnya sudah cukup untuk menutupi kebutuhan setiap hari,” kata Simon sambil mencukil kacang mete.   Dua tahun kemudian, 12 Desember 1992, musibah gempa bumi dan disertai gelombang tsunami terjadi di Pulau Flores. Gempa bumi ini berkekuatan 7.5 skala richter dan meluluhlantakan kawasan pemukiman warga di bagian utara Pulau Flores. Termasuk di antaranya Desa Ilepadung. Bebeberapa pemukiman warga hilang dan menelan korban jiwa. Tanah dekat pantai ambruk dan ditelan laut.</p>
                        <p>Namun kejadian alam tersebut tak membuat kehidupan di Desa Ilepadung terus berduka dan menyerah pada keadaan. Mereka bangkit dan memulai kehidupan dari angka titik nol lagi. Dan perkebunan Jambu Mete memberikan denyut pada kehidupan warga di sana.   Desa ini bisa menjadi contoh yang baik untuk pengembangan komunitas organik ke depan. Pengetahuan dan manfaat dari organik sudah nyata dirasakan oleh masyarakatnya. Tinggal bagaimana masyarakat, pemerintah dan elemen masyarakat lainnya tetap konsisten, bekerjasama dan terus menjaga cita-cita luhur tentang gerakan organik ini.</p>
                        <p>Niscaya, bukan mustahil kehidupan Desa Ilepadung dan desa lainnya bisa menjadi lebih baik. Mengentaskan kemiskinan bisa dilakukan dengan cara sederhana dan pengembangan mete organik langkah awal untuk membuktikan hal itu.</p>
                      </div>
                      <a href="https://www.viva.co.id/vbuzz/108355-desa-ilepadung-penghasil-mete-organik">Source</a>
                      <!-- /.post-content -->
                    </article>
                    <!-- /.post -->
                  </div>
                  <!-- /.classic-view -->
                  <hr />
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            
            <nav class="nav social social-white">
              <a href="https://twitter.com/arnold_welan"><i class="uil uil-twitter"></i></a>
              <a href="https://www.facebook.com/arnold%20welan"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="https://www.instagram.com/welanarnold"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
                    <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Ilepadung, Kecamatan Lewolema, Kab. Flores timur, Nusa Tenggara Timur</address>
            <a href="mailto:arnoldwelan36@gmail.com">arnoldwelan36@gmail.com</a><br />081-337-892-651
          </div>
                    <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>