<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Ilepadung</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="https://www.desaweretiga.com">

            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="index.html" class="transition-none d-none d-lg-flex">
                  <h5>Desa</h5>
                  <h5 style="padding-left: 10px;">Ilepadung</h5>
                  <h5 style="padding-left: 10px;"></h5>
                </a>
                <a href="index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="article.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
  
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-green">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
              <div class="post-category text-line">
                <a href="#" class="hover" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-4">Asal-Usul Desa Ilepadung-Leworahang<h1>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="blog single mt-n17">
              <div class="card">
                <figure class="card-img-top"><img src="./assets/img/photos/korke-leworahang2.jpg" alt="" /></figure>
                <div class="card-body">
                  <div class="classic-view">
                    <article class="post">
                      <div class="post-content mb-5">
                        <h2 class="h1 mb-4">Asal-Usul Desa Ilepadung-Leworahang</h2>
                        <h3>Nama Desa</h3>
                        <p>DESA ILEPADUNG adalah nama sebuah tempat kelahiran manusia atau orang pertama yang nantinya menjadi tuan tanah (pemilik tanah) leworahang dilahirkan, yang terletak di gunung jauh dari pantai tempat hutan belukar / gua-gua yang menyerupai lubang besar seperti rumah dimana mereka dapat berdiang. Orang-orang inilah dinamai orang asli (ile jadi woka dewa) mereka menetap dan bekerja di keliling kaki gunung. Hari demi hari bulan berganti bulan, tahun berganti tahun, kelahiran menjadi banyak, mereka mulai keluar dari gua-gua dan mencari tempat yang datar untuk membangun rumah adat (korke) di lereng gunung Ilepadung itulah dari setiap suku mencari tempat yang cocok / datar yang strategis.</p>

                        <p>Ile jadi woka dewa yang pertama yaitu:</p>

                        <ul>
                            <li>Koten mendiami wilayah-wilayah di sebelah timur dan menjaga musuh-musuh yang datang dari timur.</li>
                            <li> Kelen mendiami wilayah utara.</li>
                            <li>Maran mendiami wilayah barat.</li>
                            <li>Hurit mendiami wilayah selata.</li>
                        </ul>

                        <p>Keempat suku asli inlah saling bekerja sama dalam suatu urusan dan usaha apapun, mengolah kebun dan mengiris tuak.</p>

                        <p>Nama tempat-tempat yang didiami keempat suku tersebut yaitu:</p>

                        <ul>
                            <li> Koten: kewaja lamarerek kehulo rera gere</li>
                            <li>Kelen: kepukaj bala hobat tanah ekolian tolor</li>
                            <li>Hurit: sewodan tobi kena’a wolor blido goran</li>
                            <li>Maran: sewo wato rone dan bala mabura kenawe matan</li>
                        </ul>

                        <p>Kehidupan di tempat-tempat itu tidak bertahan lama, mereka pindah lagi mencari yang lebih datar/ strategis lagi. Mereka sudah bergabung menjadi satu.
                        </p>

                        <ul>
                            <li>lewo nun matan woka lolon penuhan lama rebo tana kukun male ranga</li>
                            <li>Ketoda tunapole kukun nubun bao baran kuno watohati ina pero masalangun male matan</li>
                            <li>Lewo nama ono tanah tenamatik</li>
                        </ul>

                        <p>Mereka pindah lagi membangun koko bale.</p>

                        <p>Konon katanya, pada saman dahulu para nenek moyang yang mendiami daerah di Lewolema membagi kelopor (biji pohon ara/ pohon tuak) yang menjadi mata pencaharian utama warga kampung saat itu, dari satu kampung ke kampung lain. Ketika mereka sampai di Lewo igo riang sina tanah talu halabang, tempat yang dipakai untuk menyimpan kelopor tersebut (dalam bahasa daerah tersebut disebut rahang yang terbuat dari daun lontar yang dianyam), jatuh dan pecah. Kelopor tersebutpun berserakan diatas tanah. Mereka tidak lagi memilih kelopor tersebut karena tidak ada lagi tempat penyimpanan untuk dibawah ke kampung sebelah. Mereka lalu kembali ke rumah mereka masing-masing. Sejak saat itulah daerah tersebut diberi nama leworahang yang berarti kampung rahang. Dari situlah hingga sekarang, pohon tuak lebih banyak tumbuh di kampung leworahang ketimbang kampung-kampung yang lain.</p>

                        <h3>Lokasi Tempat Tinggal</h3>

                        <p>Kehidupan mereka mulai berkembang, bisa mencari ikan di laut, berburu di hutan mencari nafkah untuk menghidupi keluarga mereka, berjalan ke laut dekat pinggir pantai membangun rumah tempat tinggal dan rumah adat (koko bale) dan membentuk kelompok-kelompok yang mendiami lokasi yang strategis. 
                        Lokasi-lokasi tersebut yaitu:</p>
                        <ul>
                            <li>Lewo igo riang sina tanah talu halabang ( sekarang pemukiman dusun I riang pedang)</li>
                            <li>Lewo nimun tapo leworahang mugadidi wailaung ( sekarang pemukiman dusun II riang bao)</li>
                            <li>Lewo motong aipao tanah kewuta harun bala sirademon (sekarang pemukuman dusun III riang motong)</li>
                            <li>Liwu eban bao berek tobi nasar (sekarang pemukiman dusun IV riang tobi)</li>
                        </ul>
                        <p>Dari keempat lokasi tempat tinggal tersebut yang berjarak kurang lebih satu (1) km jauhnya dari dusun-dusun namun tetap satu. Mereka lalu mendirikan tempat-tempat penting lainnya yang berlokasi disetiap dusun.</p>
                        <ul>
                            <li>Rumah adat (koko bale) yang berlokasikan di riang pedang ( lewo igo riang sina tanah talu halabang)</li>
                            <li>Gereja (rumah ibadath), perkantoran dan sekolah berlokasikan di riang bao (lewo nimun tapo leworahang mugadidi wailaung)</li>
                            <li>Sebuang (rumah adat untuk upacara sejuk dingin lewonama aimatan) berlokasi di dusun III (lewo motong aipao)</li>
                            <li>Puskesmas pembantu(pustu) berlokasi di dusun IV riang tobi.</li>
                        </ul>
                        <p>Walaupun jarak tempat tinggal dari satu dusun ke dusun yang lain berjauhan tetapi tetap dalam satu kesatuan kebersamaan dalam urusan adat atau seremonial dan pertemuan atau rapat-rapat kampung.</p>
                        <p>Itulah sekilas sejarah Leworahang. Lewo goe ilepadung, tanah woka huri gere, Lewoigo riang sina tanah talu halabang, Nimun tapo leworahang mugadidi wailaung, lewo motong aipao kewuta harun bala sira demon liwu eban bao rerek tobi nasar.</p>

                        <h3>Sejarah Asal-Usul Suku-Suku yang mendiami Desa Ilepadung</h3>

                        <p>Adapun suku-suku pertama yang mendiami desa ilepadung yang menjadi tuan tanah desa ilepadung sebagai berikut:</p>
                        <ol>
                            <li>Suku Ama Koten (koton sora wuli wajo, taran bala lein kuda)
                                <p>Tuan tanah.
                                    Suku asli yang pertama menghuni lewotanah leworahang yang berasal dari gunung (ilejadi).
                                </p>
                                <p> Nama leluhur pertama adalah:</p>
                                <ul>
                                    <li>Ula rimo dewa gua gajah</li>
                                    <li>Jadi kenito bura dewa wuli kaut</li>
                                    <li>Jadi nitun sori bubu dewa lolon kaut laki</li>
                                    <li>Jadi nitun sori kakan ina dewa lolon kewa ata jara</li>
                                    <li>Jadi kaka naran ile dewa aman maken woka</li>
                                    <li>Jadi ile utan sabu hebi sipa bunga lado rerin.</li>
                                    <li>Jadi kaka lido hea basa gawa dewa ama tuak matan koli lolon.</li>
                                    <li>Jadi lodo dewa buno kuda horok kelepak ama ratu bao dowo ama.</li>
                                    <li>Jadi nubun tuga nukan kuda horok kelepak ama.</li>
                                    <li>Jadi nubun dewa baran kriga bang asanara</li>
                                    <li>Jadi kaka dewa ama kaka sira pati ama laen nara kaka lamen nuho ama hurit heke</li>
                                </ul>
                            </li>
                            <li>Suku Ama Kelen</li>

                            <li>Suku Ama Hurit</li>

                            <li>Suku Ama Maran
                                <p>Mereka berasal dari pulau lembata (keroko puken lapan bata). Datang di leworahang menggunakan perahu layar dan berlabuh di pantai gewet ikan. Kemudian mereka menetap di sebuah tempat yang bernama gunung bao uat sora wero.</p>
                                <p>Orang pertama Suku Ama Maran yaitu:</p>
                                <ul>
                                    <li>Kerigo dusu kedeko paji ama,</li>
                                    <li>Patipuru hawa lewo laga bela wain tanah (sekarang diberi nama pada pemukuman riang motong).</li>
                                    <li>Serowadon</li>
                                </ul>
                                <p>Kemudian mereka bergabung dengan suku ama hurit di ile kosa (wato nue) untuk golo gapu ale boat. Setelah itu mereka sama-sama pindah ke masa langi (dua nuba) untuk bergabung dengan suku koten dan suku kelen.</p>
                            </li>
                        </ol>
                        <p>Keempat suku inilah yang menguasai tanah wilayah desa ilepadung. Raja tuan / tuan tanah yang punya peranan penting dalam mengolah atau mengerjakan lahan pertanian. Tuan tanah ini membagi sebagian tanah / arealnya kepada bine / saudarinya, juga kepada om, ema bapa blake ina ama untuk mengerjakan atau mengolah dan menanamkan tanaman dan akhirnya menjadi miliknya.
                        </p>
                        <br>
                        <p>Adapun suku-suku lain yang ada di desa leworahang sebagai berikut:</p>
                        <br>
                        <ul>
                            <li>
                                <p>Suku Opu Bine</p>
                                <p>Yang terdiri dari:</p>
                                <ul>
                                    <li>Sagu Lango Aran,</li>
                                    <li>Limahekin,</li>
                                    <li>Beluwela,</li>
                                    <li>Riang Tukan.</li>
                                </ul>
                            </li>
                            <br>
                            <li>
                                <p>Suku Ema Bapa/Blake Ina Ama</p>
                                <p>Yang terdiri dari:</p>
                                <ul>
                                    <li>Ilewekin,</li>
                                    <li>Ama Kelen Lama Luro,</li>
                                    <li>Keliwu,</li>
                                    <li>Riarita,</li>
                                    <li>Hurit Lama Ruro.</li>
                                </ul>
                            </li>
                        </ul>
                        <p>Yang mana suku-suku yang dimaksud adalah suku opu ana, nipa ola tali kawat yang mempunyai peran sebagai pembantu, menjaga dari belakang apabila terjadi masalah.</p>
                        <h3>Sejarah Kepemimpinan Desa Ilepadung</h3>
                        <p>Dalam masa perkembangannya Pemerintah Desa Ilepadung sejak Era Pendudukan Hindia Belanda hingga masa Pemerintahan Negara Kesatuan Republik Indonesia saat ini, Desa Ilepadung telah mengalami periode sejarah kepemimpinan sebagai berikut :</p>
                        <ol>
                            <li>Bullet Hurit</li>
                            <li>Thomas Talu Koten</li>
                            <li>Paulus Petara Koten</li>
                            <li>Wilem Wato Koten</li>
                            <li>Pehan Kelen</li>
                            <li>Boki Koten (35 Tahun)</li>
                            <li>Wanes Koten</li>
                            <li>Petrus Maran</li>
                        </ol>
                        <h3>Geografis Desa Ilepadung</h3>
                        <p>Desa Ilepadung terletak di areal/wilayah perbukitan dan merupakan salah satu desa dari 5 desa yang berada di Kecamatan Lewolema, Kabupaten Flores Timur. Desa Ilepadung terdiri dari 4 dusun, 8 RW dan 16 RT. Desa Ilepadung berbatasan dengan:</p>
                        <p>Sebelah Utara   :Dengan Teluk Hading</p>
                        <p>Sebelah Selatan :Gunung Ilepadung</p>
                        <p>Sebelah Timur   :Desa Kawaliwu</p>
                        <p>Sebelah Barat   :Desa Lewobele</p>
                        <h3>Rumah Adat</h3>
                        <p>Rumah adat atau disebut rumah korke (koko bale) adalah rumah pertama yang didirikan oleh nenek moyang dan para leluhur orang leworahang. Rumah adat bagi orang leworahang didirikan bukan hanya sekedar tempat benaung dan berteduh dari hujan dan panas terik matahari semata tetapi sebenanya sarat dengan nilai filosofi yang dapat dimanfaatkan sebagai pedoman hidup. Beragam pengertian dan nilai luhur yang melekat dan dikandung dalam rumah adat tradisional yang mestinya dapat dimaknai dan dipegang sebagai pandangan hidup dalam tatanan kehidupan sehari-hari, dalam rangka pergaulan antar individu.</p>
                        <p>Makna rumah korke dan daerah sekitar rumah korke:</p>
                        <ul>
                            <li>Rumah korke untuk tempat tinggal atau tempat bertedu di waktu hujan dan teriknya matahari.</li>
                            <li>Kumpulan batu-batu ceper di depan korke (nama) untuk tempat berkumpul masyarakat untuk mengadakan sebuah rapat atau upacara.</li>
                            <li>Batu ceper yang melintang datar (mera) untuk tempat istirahat siang hari.</li>
                            <li>Batu ceper yang berdiri tegak (beleda) berjumlah 12 buah menandakan jumlah 12 suku yang ada di leworahang.</li>
                            <li>Kumpulan batu-batu kecil ditengah nama (nuba nara) tempat diletakannya sesajian pada saat upacara sebagai media penghubung rera wulan tanah ekan dengan manusia.</li>
                        </ul>
                      </div>
                      <a href="https://leworahang.blogspot.com/">Source</a>
                      <!-- /.post-content -->
                    </article>
                    <!-- /.post -->
                  </div>
                  <!-- /.classic-view -->
                  <hr />
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            
            <nav class="nav social social-white">
              <a href="https://twitter.com/arnold_welan"><i class="uil uil-twitter"></i></a>
              <a href="https://www.facebook.com/arnold%20welan"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="https://www.instagram.com/welanarnold"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
                    <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Ilepadung, Kecamatan Lewolema, Kab. Flores timur, Nusa Tenggara Timur</address>
            <a href="mailto:arnoldwelan36@gmail.com">arnoldwelan36@gmail.com</a><br />081-337-892-651
          </div>
                    <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>