<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Tiworiwu</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="preload" href="./assets/css/fonts/dm.css" as="style" onload="this.rel='stylesheet'">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
        <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
          <div class="container justify-content-between align-items-center">
            <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
              <div class="navbar-brand"><a href="./index.html">
  
              </a></div>
              <div class="navbar-other ms-auto">
                <ul class="navbar-nav flex-row align-items-center">
                  <li class="nav-item d-lg-none">
                    <button class="hamburger offcanvas-nav-btn"><span></span></button>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <!-- /.navbar-other -->
            </div>
            <!-- /.d-flex -->
            <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
              <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
                <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                  <a href="./index.html" class="transition-none d-none d-lg-flex">
                    <h4>Desa</h4>
                    <h5 style="padding-left: 10px;">Tiworiwu</h5>
                  </a>
                  <a href="./index.html" class="d-lg-none transition-none">
                  </a>
                  <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="w-100 order-1 order-lg-0 d-lg-flex">
                  <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                    </li>
                  </ul>
                  <!-- /.navbar-nav -->
                </div>
                <div class="w-100 order-3 order-lg-2 d-lg-flex">
                  <ul class="navbar-nav me-lg-auto">
                    <li class="nav-item"><a class="nav-link" href="blog.html" data-bs-toggle="">Article</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.navbar-collapse-wrapper -->
          </div>
          <!-- /.container -->
        </nav>
        <!-- /.navbar -->
        <!-- /.navbar -->
    
    </header>
      <!-- /header -->
    <section class="wrapper image-wrapper bg-image bg-overlay text-white" data-image-src="./assets/img/photos/perumahan-adat-bena.jpg">
      <div class="container pt-17 pb-12 pt-md-19 pb-md-16 text-center">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="post-header">
              <div class="post-category text-line text-white">
                <a href="#" class="text-reset" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-3 text-white">Indahnya Kampung Adat Bena, Perkampungan sejak Jaman Megalitikum</h1>
              <p class="lead px-md-12 px-lg-12 px-xl-15 px-xxl-18"></p>
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light wrapper-border">
      <div class="container pt-14 pt-md-16 pb-13 pb-md-15">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <article>
              <h2 class="display-6 mb-4"></h2>
              <div class="row gx-0">
                <div class="col-md-9 text-justify">
                  <p>Kampung Bena merupakan salah satu perkampungan adat yang ada di kabupaten Ngada yang hingga saat ini masih memegang kuat tradisi budaya yang diwarisinya dari nenek moyang mereka. Terletak di kaki gunung Inerie, membuat kampung yang terkenal dengan rumah adat Bena ini tidak hanya menawarkan keunikan rumah dan tradisinya, tapi juga pemandangan gunung Inerie yang menakjubkan mata setiap orang yang melihatnya.</p>
                  <p>Kampung ini memiliki lebih dari 40 buah rumah yang saling berhadap-hadapan. Badan kampung tumbuh memanjang, dari utara ke selatan. Pintu masuk kampung hanya dari utara. Sementara ujung lainnya di bagian selatan sudah merupakan puncak sekaligus tepi tebing terjal. Mata pencaharian penduduk kaum laki-laki adalah berladang dan kaum perempuan adalah menenun untuk dijual ke para wisatawan ataupun ke pelosok kota Bajawa Ngada. Para wisatawan yang datang pun tidak hanya dari lokal juga dari Manca negara seperti dari Belanda, Jepang, Belgia, dan negara Eropa lainnya (setidaknya itu yang saya baca dari buku tamu).</p>
                  <h3>Lokasi atau Rute Menuju Kampung Bena</h3>
                  <p>Kampung Bena terletak kurang lebih 19 km arah selatan pusat kota Ngada (Bajawa) atau tepatnya berada di desa Tiwuriwu, Kecamatan Aimere, Kabupaten Ngada. Perjalanan menuju ke kampung Bena bisa ditempuh dengan menggunakan kendaraan roda dua maupun roda empat. Medannya pun cukup halus karena sudah aspal hotmix, akan tetapi jalannya berkelok-kelok dan naik turun.</p>
                  <p>Jika Anda berangkat dari Kupang, maka setelah turun di Bandara Soa, Anda bisa melanjutkan perjalanan dengan menggunakan travel ke kota Bajawa dengan tarif kurang lebih 50 ribu. Setelah sampai di kota Bajawa, Anda bisa melanjutkan perjalanan dengan menggunakan jasa ojek dengan waktu tempuh kurang lebih setengah jam.</p>
                  <p>Namun jika Anda baru saja berwisata ke Danau Kelimutu di kota Ende, maka Anda bisa naik travel atau bis jurusan Ende-Bajawa dan turun di Mataloko. Selanjutnya Anda bisa menggunakan jasa ojek untuk sampai di kampung Bena.</p>
                  <h3>Jam Buka dan Harga Tiket Masuk</h3>
                  <p>Perkampungan Bena dibuka untuk para wisatawan mulai pukul 08.00 hingga pukul 17.00 wita. Sebenarnya tidak ada tiket masuk untuk bisa melihat dari dekat bagaimana bangunan rumah adat Bena, tapi warga kampung Bena akan meminta Anda untuk mengisi buku tamu dan memberikan donasi seiklasnya pada kotak yang disediakan.</p>
                  <h3>Fasilitas di Sekitar Kampung Bena</h3>
                  <ul>
                    <li>Penginipan</li>
                    <p>Anda tidak bisa menemukan penginapan apalagi hotel di sekitar perkampungan rumah adat Bena karena memang lokasinya yang terpencil di bawah kaki gunung. Para wisatawan biasanya lebih memilih menginap di kota Bajawa yang karena selain banyak hotel atau penginapan, jarak tempuh ke kampung Bena juga tidak jauh. Hotel paling murah yang saya jumpai adalah hotel Kambera milik pak Haji Rahman (081339464163), yaitu hanya sekitar 50 ribu hingga 100 ribu per malamnya. Namun jika Anda menginginkan hotel dengan fasilitas air hangat untuk mandi, maka Anda bisa memilih hotel Jhoni, hotel Edlewis, hotel Korina, hotel Bintang Wisata dengan rentang harga antara 150 ribu hingga 350 ribu.</p>
                    <li>Rumah Makan</li>
                    <p>Di lokasi tersebut juga tidak terdapat warung makan dan hanya ada warung kelontong yang menjajakan makanan dan minuman ringan. Jadi sebelum berangkat ke sana, pastikan Anda membawa bekal yang cukup. Untuk santap makan terutama bagi Anda umat muslim, sebaiknya makan di kota Bajawa karena di sana terdapat banyak warung makan Padang, maupun Lamongan yang tentunya lebih terjamin kehalalannya.</p>
                    <li>Area Parkir</li>
                    <p>Kendaraan yang bisa langsung masuk di halaman pintu masuk rumah Adat hanyalah kendaraan roda 2, sedangkan untuk mobil, sekarang sudah di arahkan untuk parkir di sebelah utara perkampungan. Area parkirnya pun cukup luas.</p>
                    <li>WC Umum</li>
                    <p>Pada saat saya datang, ada 3 buah kamar mandi dilengkapi dengan wc yang berada di ujung perkampungan di dekat tangga naik ke patung bunda Maria. Anda bisa memberi donasi seiklasnya pada kotak yang tersedia.</p>
                    <li>Toko Cinderamata</li>
                    <p>Kebanyakan para wanita di kampung Bena merupakan penenun dengan motif kain Adat Bajawa yang memang untuk dijual kepada para wisatawan. Harga kain adat yang bisa dijadikan baju kurang lebih 600ribu per potongnya.</p>
                  </ul>
                  <h3>Tips Berwisata ke Kampung Bena</h3>
                  <p>Ketika memberikan donasi, sebaiknya menggunakan uang kertas karena uang koin tidak digunakan oleh masyarakat kabupaten Ngada. Dan berikan donasi yang sepantasnya. Jika Anda berencana menginap di kota Bajawa, pastikan Anda membawa pakaian hangat karena suhu di kota Bajawa cukup dingin terutama pada malam hari</p>
                </div>
                <!--/column -->
                <div class="col-md-2 ms-auto">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="mb-1">Date</h5>
                      <p>17 May 2018</p>
                    </li>
                    <li>
                      <h5 class="mb-1">Client Name</h5>
                      <p>Cool House</p>
                    </li>
                  </ul>
                  <a href="#" class="more hover">See Project</a>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </article>
            <!-- /.project -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container py-10">
        <div class="row gx-md-6 gy-3 gy-md-0">
          <div class="col-md-8 align-self-center text-center text-md-start navigation">
            <a href="single-project3.html" class="btn btn-soft-ash rounded-pill btn-icon btn-icon-start mb-0 me-1"><i class="uil uil-arrow-left"></i> Prev Post</a>
            <a href="single-project2.html" class="btn btn-soft-ash rounded-pill btn-icon btn-icon-end mb-0">Next Post <i class="uil uil-arrow-right"></i></a>
          </div>
          <!--/column -->
          <aside class="col-md-4 sidebar text-center text-md-end">
            <div class="dropdown share-dropdown btn-group">
              <button class="btn btn-red rounded-pill btn-icon btn-icon-start dropdown-toggle mb-0 me-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="uil uil-share-alt"></i> Share </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="uil uil-twitter"></i>Twitter</a>
                <a class="dropdown-item" href="#"><i class="uil uil-facebook-f"></i>Facebook</a>
                <a class="dropdown-item" href="#"><i class="uil uil-linkedin"></i>Linkedin</a>
              </div>
              <!--/.dropdown-menu -->
            </div>
            <!--/.share-dropdown -->
          </aside>
          <!-- /column .sidebar -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <img class="mb-4" src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" />
            <p class="mb-4">© 2022 Jongkreatif. <br class="d-none d-lg-block" />All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Tiworiwu, Kecamatan Jerebuu, Kabupaten Ngada, Nusa Tenggara Timur</address>
            <a href="mailto:fancitomu@gmail.com">fancitomu@gmail.com</a><br /> 085-333-649-104
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>