<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Tiworiwu</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="./index.html">

            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="./index.html" class="transition-none d-none d-lg-flex">
                  <h4>Desa</h4>
                  <h5 style="padding-left: 10px;">Tiworiwu</h5>
                </a>
                <a href="./index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="blog.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-primary">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-7 col-lg-6 col-xl-5 mx-auto">
            <h1 class="display-1 mb-3">Woloara News</h1>
            <p class="lead px-lg-5 px-xxl-8">Welcome to our journal. Here you can find the latest company and articles.</p>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="blog classic-view mt-n17">
              <article class="post">
                <div class="card">
                  <figure class="card-img-top overlay overlay-1 hover-scale"><a class="link-dark" href="./single-project2.html"></a>
                    <figcaption>
                      <h5 class="from-top mb-0">Read More</h5>
                    </figcaption>
                  </figure>
                  <div class="card-body">
                    <div class="post-header">
                      <div class="post-category text-line">
                        <a href="#" class="hover" rel="category"></a>
                      </div>
                      <!-- /.post-category -->
                      <h2 class="post-title mt-1 mb-0"><a class="link-dark" href="./single-project2.html">Serba-Serbi tentang Tarian Ja'i</a></h2>
                    </div>
                    <!-- /.post-header -->
                    <div class="post-content">
                      <p>Tari Ja’i adalah tarian tradisional masyarakat Ngada di Flores, Nusa Tenggara Timur (NTT). Tarian ini merupakan tarian masal yang dilakukan oleh masyarakat di sana sebagai ungkapan rasa syukur dan kegembiraan. Tari Ja’i ini merupakan tarian tradisional yang cukup terkenal di Flores, khususnya masyarakat Ngada, dan sering ditampilkan dalam berbagai acara seperti perayaan, upacara adat dan menyambut tamu kehormatan.</p>
                    </div>
                    <!-- /.post-content -->
                  </div>
                  <!--/.card-body -->
                  <div class="card-footer">
                    <ul class="post-meta d-flex mb-0">
                      <li class="post-date"><i class="uil uil-calendar-alt"></i><span>17 May 2018</span></li>
                    </ul>
                    <!-- /.post-meta -->
                  </div>
                  <!-- /.card-footer -->
                </div>
                <!-- /.card -->
              </article>
              <!-- /.post -->
              <article class="post">
                <div class="card">
                  <figure class="card-img-top overlay overlay-1 hover-scale"><a class="link-dark" href="./single-project.html"><img src="./assets/img/photos/perumahan-adat-bena.jpg" alt="" /></a>
                    <figcaption>
                      <h5 class="from-top mb-0">Read More</h5>
                    </figcaption>
                  </figure>
                  <div class="card-body">
                    <div class="post-header">
                      <div class="post-category text-line">
                        <a href="#" class="hover" rel="category"></a>
                      </div>
                      <!-- /.post-category -->
                      <h2 class="post-title mt-1 mb-0"><a class="link-dark" href="./single-project.html">Indahnya Kampung Adat Bena, Perkampungan sejak Jaman Megalitikum</a></h2>
                    </div>
                    <!-- /.post-header -->
                    <div class="post-content">
                      <p>Kampung Bena merupakan salah satu perkampungan adat yang ada di kabupaten Ngada yang hingga saat ini masih memegang kuat tradisi budaya yang diwarisinya dari nenek moyang mereka. Terletak di kaki gunung Inerie, membuat kampung yang terkenal dengan rumah adat Bena ini tidak hanya menawarkan keunikan rumah dan tradisinya, tapi juga pemandangan gunung Inerie yang menakjubkan mata setiap orang yang melihatnya.</p>
                    </div>
                    <!-- /.post-content -->
                  </div>
                  <!--/.card-body -->
                  <div class="card-footer">
                    <ul class="post-meta d-flex mb-0">
                      <li class="post-date"><i class="uil uil-calendar-alt"></i><span>17 May 2018</span></li>
                    </ul>
                    <!-- /.post-meta -->
                  </div>
                  <!-- /.card-footer -->
                </div>
                <!-- /.card -->
              </article>
              <!-- /.post -->
              <article class="post">
                <div class="card">
                  <figure class="card-img-top overlay overlay-1 hover-scale"><a class="link-dark" href="./single-project3.html"><img src="./assets/img/photos/gunung_desa_tiworiwu.jpg" alt="" /></a>
                    <figcaption>
                      <h5 class="from-top mb-0">Read More</h5>
                    </figcaption>
                  </figure>
                  <div class="card-body">
                    <div class="post-header">
                      <div class="post-category text-line">
                        <a href="#" class="hover" rel="category"></a>
                      </div>
                      <!-- /.post-category -->
                      <h2 class="post-title mt-1 mb-0"><a class="link-dark" href="./single-project3.html">Mendaki Gunung Inerie yang Memiliki medan pendakian yang menantang</a></h2>
                    </div>
                    <!-- /.post-header -->
                    <div class="post-content">
                      <p>Gunung Inerie merupakan salah satu gunung yang masih aktif yang terletak di pulau Flores NTT dengan ketinggian sekitar 2245 MDPL. Gunung yang pernah meletus pada tahun 1970 ini memang tidak terlalu tinggi untuk didaki karena start pendakiannya pun sudah cukup tinggi sehingga waktu tempuhnya pun tidak terlalu lama, yaitu sekitar 3-5 jam saja.</p>
                    </div>
                    <!-- /.post-content -->
                  </div>
                  <!--/.card-body -->
                  <div class="card-footer">
                    <ul class="post-meta d-flex mb-0">
                      <li class="post-date"><i class="uil uil-calendar-alt"></i><span>17 May 2018</span></li>
                    </ul>
                    <!-- /.post-meta -->
                  </div>
                  <!-- /.card-footer -->
                </div>
                <!-- /.card -->
              </article>
              <!-- /.post -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <img class="mb-4" src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" />
            <p class="mb-4">© 2022 Jongkreatif. <br class="d-none d-lg-block" />All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Tiworiwu, Kecamatan Jerebuu, Kabupaten Ngada, Nusa Tenggara Timur</address>
            <a href="mailto:fancitomu@gmail.com">fancitomu@gmail.com</a><br /> 085-333-649-104
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>