<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Tiworiwu</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="preload" href="./assets/css/fonts/dm.css" as="style" onload="this.rel='stylesheet'">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper">
      <nav class="navbar navbar-expand-lg center-logo navbar-light navbar-bg-light">
        <div class="container justify-content-between align-items-center">
          <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
            <div class="navbar-brand"><a href="./index.html">

            </a></div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
                <a href="./index.html" class="transition-none d-none d-lg-flex">
                  <h4>Desa</h4>
                  <h5 style="padding-left: 10px;">Tiworiwu</h5>
                </a>
                <a href="./index.html" class="d-lg-none transition-none">
                </a>
                <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="w-100 order-1 order-lg-0 d-lg-flex">
                <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="about.html" data-bs-toggle="">About</a>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <div class="w-100 order-3 order-lg-2 d-lg-flex">
                <ul class="navbar-nav me-lg-auto">
                  <li class="nav-item"><a class="nav-link" href="blog.html" data-bs-toggle="">Article</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html" data-bs-toggle="">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper image-wrapper bg-image bg-overlay text-white" data-image-src="./assets/img/photos/gunung_desa_tiworiwu.jpg">
      <div class="container pt-17 pb-12 pt-md-19 pb-md-16 text-center">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="post-header">
              <div class="post-category text-line text-white">
                <a href="#" class="text-reset" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-3 text-white">Mendaki Gunung Inerie yang memeliki medan pendakian yang menantang</h1>
              <p class="lead px-md-12 px-lg-12 px-xl-15 px-xxl-18"></p>
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light wrapper-border">
      <div class="container pt-14 pt-md-16 pb-13 pb-md-15">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <article>
              <h2 class="display-6 mb-4"></h2>
              <div class="row gx-0">
                <div class="col-md-9 text-justify">
                  <p>Gunung Inerie merupakan salah satu gunung yang masih aktif yang terletak di pulau Flores NTT dengan ketinggian sekitar 2245 MDPL. Gunung yang pernah meletus pada tahun 1970 ini memang tidak terlalu tinggi untuk didaki karena start pendakiannya pun sudah cukup tinggi sehingga waktu tempuhnya pun tidak terlalu lama, yaitu sekitar 3-5 jam saja. Pada saat melakukan pendakian akhir tahun 2015 yang lalu, saya tidak bisa mencapai puncak pada saat sunrise karena kebetulan saya hanya nebeng bapak-bapak TNI yang sedang memandu siswa-siswi anggota Pramuka dari beberapa SMA di kabupaten Ngada. Seringnya siswi yang berhenti karena kelelahan membuat perjalanan tidak semulus yang diharapkan, terlebih di antaranya ada yang memang belum pernah naik gunung.</p>
                  <p>Meskipun masih aktif, kita tidak bisa melihat ada kawah di tengah-tengah puncak. Yang ada hanya tanah kering yang oleh beberapa warga sekitar justru ditanami tumbuhan seperti ubi ketela. Beberapa warga mengatakan bahwa di beberapa titik area yang dulunya adalah kawah, terdapat belerang yang mengepulkan asap seperti yang sering terjadi di beberapa gunung yang pernah meletus seperti misalnya gunung Sumbing di Jawa Tengah.</p>
                  <h3>Lokasi atau Rute Menuju Gunung Inerie</h3>
                  <p>Gunung Inerie berada di kabupaten Ngada provinsi Nusa Tenggara Timur atau tepatnya kurang lebih 15 km ke arah selatan dari Bajawa (pusat kota kabupaten Ngada). Jika Anda berangkat dari Kupang dan turun di Bandara Soa, maka Anda harus terlebih dahulu menuju ke kota Bajawa dengan menggunakan travel karena memang letak Bandaranya yang berada di luar kota. Lama waktu perjalanan adalah sekitar setengah jam dengan ongkos travel sekitar Rp.50.000,-.</p>
                  <p>Setelah sampai di kota Bajawa, barulah Anda bisa mencari angkutan umum atau bisa juga menyewa mobil untuk di antar ke titik pendakian atau jika Anda membutuhkan guide, maka pesanlah kepada sopir travel untuk menurunkan Anda di Tourism Infomation di dekat lapangan Kartini. Anda juga bisa minta bantuan kepada petugas untuk mencarikan kendaraan untuk mengantarkan Anda ke titik awal pendakian gunung Inerie.</p>
                  <h3>Kondisi Medan</h3>
                  <p>Meskipun jarak tempuhnya pendek, namun medannya cukup merepotkan. Selain permukaannya yang curam dan menanjak terus, banyak bebatuan kecil yang dapat menghambat pendakian kita. Oleh karena itu, kita harus ekstra hati-hati agar tidak tergelincir. Anda juga harus selalu waspada jika sewaktu-waktu ada batu besar yang terkadang meluncur dari atas. Hampir 90% sepanjang jalur pendakian adalah tanah berbatu tanpa pepohonan dan hanya mungkin sekitar 10% saja yang terdapat pepohonan yang dapat kita gunakan untuk berpegangan..</p>
                  <p>Di sepanjang jalur pendakian tidak terdapat pos-pos untuk mencari air atau sekedar untuk beristirahat seperti pada umumnya gunung-gunung yang biasa digunakan untuk mendaki. Jadi pastikan Anda membawa bekal makan dan air yang cukup agar tidak mengalami dehidrasi.</p>
                  <p>Tracking yang paling ekstrem menurut saya adalah ketika kita menuju puncak tertinggi dari puncak pertama. Hal ini karena selain jalan yang terjal dan curam serta licin karena kerikil, angin di jalan menuju puncak juga cukup kencang, sehingga saya dan teman-teman yang memutuskan untuk melanjutkan ke puncak harus merangkak untuk menghindari terpaan angin yang begitu kencang.</p>
                  <p>Sesampainya dipuncak pertama, jika Anda ingin meneruskan pendakian ke puncak tertinggi, sebaiknya ambil jalur ke kiri karena medannya cukup bersahabat dibandingkan jika Anda naik ke puncak melalui jalur yang kanan.</p>
                  <p>Pada saat turun, setelah berjalan kurang lebih 1 jam dari puncak, Anda akan mendapatkan jalur yang penuh dengan batu kecil. Jika Anda ingin mencoba sensasi menuruni gunung yang berbeda dengan biasanya, silahkan melalui jalur ini. Kuncinya jika Anda ingin turun melalui jalur ini adalah untuk menapak Anda harus menggunakan tumit atau bagian paling belakang telapak kaki Anda.</p>
                  <p>Demikianlah informasi singkat tentang gambaran pendakian saya di Gunung Inerie. Semoga bermanfaat dan pendakian Anda berkesan. Jika Anda menyukai info wisata ini, mohon share dengan memberikan like, twit atau berkomentar di bawah ini agar dapat menjadi referensi bagi teman jejaring sosial Anda. Terima kasih.</p>
                </div>
                <!--/column -->
                <div class="col-md-2 ms-auto">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="mb-1">Date</h5>
                      <p>26 Feb 2021</p>
                    </li>
                  </ul>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </article>
            <!-- /.project -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container py-10">
        <div class="row gx-md-6 gy-3 gy-md-0">
          <div class="col-md-8 align-self-center text-center text-md-start navigation">
            <a href="single-project2.html" class="btn btn-soft-ash rounded-pill btn-icon btn-icon-start mb-0 me-1"><i class="uil uil-arrow-left"></i> Prev Post</a>
            <a href="single-project.html" class="btn btn-soft-ash rounded-pill btn-icon btn-icon-end mb-0">Next Post <i class="uil uil-arrow-right"></i></a>
          </div>
          <!--/column -->
          <aside class="col-md-4 sidebar text-center text-md-end">
            <div class="dropdown share-dropdown btn-group">
              <button class="btn btn-red rounded-pill btn-icon btn-icon-start dropdown-toggle mb-0 me-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="uil uil-share-alt"></i> Share </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="uil uil-twitter"></i>Twitter</a>
                <a class="dropdown-item" href="#"><i class="uil uil-facebook-f"></i>Facebook</a>
                <a class="dropdown-item" href="#"><i class="uil uil-linkedin"></i>Linkedin</a>
              </div>
              <!--/.dropdown-menu -->
            </div>
            <!--/.share-dropdown -->
          </aside>
          <!-- /column .sidebar -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container pt-12 pt-lg-6 pb-13 pb-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <img class="mb-4" src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" />
            <p class="mb-4">© 2022 Jongkreatif. <br class="d-none d-lg-block" />All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-6">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Tiworiwu, Kecamatan Jerebuu, Kabupaten Ngada, Nusa Tenggara Timur</address>
            <a href="mailto:fancitomu@gmail.com">fancitomu@gmail.com</a><br /> 085-333-649-104
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>