<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Woloara</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
      <nav class="navbar navbar-expand-lg center-nav transparent position-absolute navbar-dark caret-none">
        <div class="container flex-lg-row flex-nowrap align-items-center">
          <div class="navbar-brand w-100">
            <a href="index.html">
              <h4 style="color: rgb(0, 0, 0);">Desa Wisata Woloara</h4>
            </a>
          </div>
          <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
            <div class="offcanvas-header d-lg-none d-xl-none">
              <a href="./index.html"><img src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" /></a>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
              <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-mega">
                  <a class="nav-link" href="index.html" style="color: black" data-bs-toggle="">Home</a>
                  <!--/.dropdown-menu -->
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="blog-post.html" style="color: black" data-bs-toggle="">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="blog2.html" style="color: black" data-bs-toggle="">Article</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="gallery.html" style="color: black" data-bs-toggle="">Gallery</a>
                </li>
                <li class="nav-item dropdown dropdown-mega">
                  <a class="nav-link" href="contact.html" style="color: black" data-bs-toggle="">Contact</a>
                  <!--/.dropdown-menu -->
                </li>
              </ul>
            </div>
            <!-- /.offcanvas-body -->
          </div>
          <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
    </header> 
    <!-- /header -->
    <section class="wrapper bg-soft-green">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
              <div class="post-category text-line">
                <a href="#" class="hover" rel="category"></a>
              </div>
              <!-- /.post-category -->
              <h1 class="display-1 mb-4">Kunjungan Puslitbang ke Rumah Ikat Tenun Nuaone<h1>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="blog single mt-n17">
              <div class="card">
                <figure class="card-img-top"><img src="./assets/img/photos/kain_tenun_woloara.jpg" style="height: 10%;width: 100%;" alt="" /></figure>
                <div class="card-body">
                  <div class="classic-view">
                    <article class="post">
                      <div class="post-content mb-5">
                        <h2 class="h1 mb-4">Rumah Tenun Ikat Nuaine</h2>
                        <p>Pesona Taman Nasional Kelimutu selalu berhasil menarik minat wisatawan untuk berkunjung dan menikmati indahnya alam ciptaan Tuhan. Selain menyuguhkan hamparan alam yang menakjubkan, Kelimutu juga kaya akan budaya lokal. Salah satu yang sering menarik perhatian wisatawan adalah kain tenun ikat yang memiliki corak dan warna yang khas..</p>
                        <p>Jumat, 12 Juli 2019, setelah menikmati keindahan alam pagi hari di Danau Kelimutu, Kepala Puslitbang Sosial Ekonomi Kebijakan dan Perubahan Iklim (P3SEKPI) Bogor, Dr. Ir. Syaiful Anwar, M.Sc., bersama rombongan yang terdiri dari Bapak Nugraha Firdaus, Desi Ekawati selaku Project Leader Kanoppi II, dan Peneliti BP2LHK Kupang, Budianto, serta Ibu Lily Nababan, wartawan The Jakarta Post didampingi oleh Kasubbag TU Balai TN Kelimutu, Kepala SPTN Wilayah I Moni, dan petugas Resort Kelimutu mengunjungi Rumah Tenun Ikat Nuaone di Desa Woloara, yang merupakan salah satu desa penyangga yg memdapat bantuan pemberdayaan masyarakat oleh TN Kelimutu di Desa Woloara Kecamatan Kelimutu. 
                        </p>
                        <p>Di Rumah Tenun Ikat ini, rombongan Kapuslitbang tidak hanya melihat hasil tenun yang dipajang, tetapi juga menyaksikan atraksi anggota kelompok yang sedang beraktivitas tenun ikat. Rombongan diperkenalkan pada cara membuat "Lawo" (sarung adat untuk perempuan), dimulai dari proses awal menggulung benang hingga bisa menjadi selembar sarung yang siap dipakai. Rombongan juga sempat membeli sarung hasil tenun ikat yang dipajang di Rumah Tenun Ikat ini. Rombongan kembali melanjutkan perjalanannya ke salah satu wisata alam hasil pemberdayaan TN Kelimutu yakni Boelanboong. Eco Camp. 
                        </p>
                       <p>Semoga kunjungan ini menambah pengalaman dan wawasan rombongan Kapuslitbang mengenai kekayaan budaya Ende Lio, yaitu Tenun Ikat, serta bisa menjadi motivasi bagi Kelompok Tenun Ikat Nuaone untuk terus berkarya memperkenalkan budaya kepada dunia, terutama kepada generasi muda.</p>
                      </div>
                      <!-- /.post-content -->
                    </article>
                    <!-- /.post -->
                  </div>
                  <!-- /.classic-view -->
                  <hr />
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-dark text-inverse">
    <div class="container py-13 py-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-lg-4">
          <div class="widget">
            <p class="mb-4">© 2021 Sandbox. All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <div class="col-lg-6">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Woloara, Kecamatan Kelimutu, Kabupaten Ende, Nusa Tenggara Timur</address>
            <a href="mailto:robertus_riwu@hotmail.com">robertus_riwu@hotmail.com</a><br /> 082-328-098-244
          </div>
          <!-- /.widget -->
        </div>
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>