<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="elemis">
  <title>Desa Wisata Woloara</title>
  <link rel="shortcut icon" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
      <nav class="navbar navbar-expand-lg center-nav transparent position-absolute navbar-dark caret-none">
        <div class="container flex-lg-row flex-nowrap align-items-center">
          <div class="navbar-brand w-100">
            <a href="index.html">
              <h4 style="color: rgb(0, 0, 0);">Desa Wisata Woloara</h4>
            </a>
          </div>
          <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
            <div class="offcanvas-header d-lg-none d-xl-none">
              <a href="./index.html"><img src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" /></a>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
              <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-mega">
                  <a class="nav-link" href="index.html" style="color: black" data-bs-toggle="">Home</a>
                  <!--/.dropdown-menu -->
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="blog-post.html" style="color: black" data-bs-toggle="">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="blog2.html" style="color: black" data-bs-toggle="">Article</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="gallery.html" style="color: black" data-bs-toggle="">Gallery</a>
                </li>
                <li class="nav-item dropdown dropdown-mega">
                  <a class="nav-link" href="contact.html" style="color: black" data-bs-toggle="">Contact</a>
                  <!--/.dropdown-menu -->
                </li>
              </ul>
            </div>
            <!-- /.offcanvas-body -->
          </div>
          <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
    </header> 
    <!-- /header -->
    <section class="wrapper bg-dark">
      <div class="swiper-container swiper-hero dots-over" data-margin="0" data-autoplay="true" data-autoplaytime="5000" data-nav="true" data-dots="true" data-items="1">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide bg-overlay bg-overlay-400 bg-dark bg-image" data-image-src="assets/img/photos/rumah_adat_desa_woloara.jpg">
              <div class="container h-100">
                <div class="row h-100">
                  <div class="col-md-10 offset-md-1 col-lg-7 offset-lg-0 col-xl-6 col-xxl-5 text-center text-lg-start justify-content-center align-self-center align-items-start">
                    <h2 class="display-1 fs-35 mb-4 text-white animate__animated animate__slideInDown animate__delay-1s">News of Ululoga</h2>
                    <p class="lead fs-23 lh-sm mb-7 text-white animate__animated animate__slideInRight animate__delay-2s">Welcome to our journal. Here you can find the latest news and articles.</p>
                  </div>
                  <!--/column -->
                </div>
                <!--/.row -->
              </div>
              <!--/.container -->
            </div>
            <!--/.swiper-slide -->
          </div>
          <!--/.swiper-wrapper -->
        </div>
        <!-- /.swiper -->
      </div>
      <!-- /.swiper-container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light wrapper-border">
      <div class="container inner py-8">
        <div class="row gx-lg-8 gx-xl-12 gy-4 gy-lg-0">
          <div class="col-lg-8 align-self-center">
          </div>
          <!--/column -->
          <!-- <aside class="col-lg-4 sidebar">
            <form class="search-form">
              <div class="form-floating mb-0">
                <input id="search-form" type="text" class="form-control" placeholder="Search">
                <label for="search-form">Search</label>
              </div>
            </form> -->
            <!-- /.search-form -->
          <!-- </aside> -->
          <!-- /column .sidebar -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12">
          <div class="col-lg-8">
            <div class="blog classic-view">
              <article class="post">
                <div class="card">
                  <figure class="card-img-top overlay overlay-1 hover-scale"><a href="./blog-post4.html"><img src="" alt="" /></a>
                    <figcaption>
                      <h5 class="from-top mb-0">Read More</h5>
                    </figcaption>
                  </figure>
                  <div class="card-body">
                    <div class="post-header">
                      <div class="post-category text-line">
                        <a href="#" class="hover" rel="category"></a>
                      </div>
                      <!-- /.post-category -->
                      <h2 class="post-title mt-1 mb-0"><a class="link-dark" href="./blog-post4.html">Sejarah Danau Kelimutu</a></h2>
                    </div>
                    <!-- /.post-header -->
                    <div class="post-content">
                      <p>Taman Nasional Kelimutu meliputi tiga gunung yaitu Gunung Kelimutu (1640 mdpl), Gunung Kelido (1641 m dpl) dan Gunung Kelibara 1630 m dpl). Ketiga gunung ini muncul dan bertumbuh karena aktivitas vulkanik. Ketiganya bertumbuh dalam kawasan kaldera Sokoria (Mutubusa) sehingga ketiganya membangun satu kesatuan kompleks yang saling terhubungkan, kecuali Gunung Kelibara yang terpisah oleh lembah dari kaldera Sokoria....</p>
                    </div>
                    <!-- /.post-content -->
                  </div>
                  <!--/.card-body -->
                  <div class="card-footer">
                    <ul class="post-meta d-flex mb-0">
                      <li class="post-date"><i class="uil uil-calendar-alt"></i><span>5 Jul 2021</span></li>
                    </ul>
                    <!-- /.post-meta -->
                  </div>
                  <!-- /.card-footer -->
                </div>
                <!-- /.card -->
              </article>
              <!-- /.post -->
              <article class="post">
                <div class="card">
                  <figure class="card-img-top overlay overlay-1 hover-scale"><a href="./blog-post5.html"><img src="./assets/img/photos/kain_tenun_woloara.jpg" style="height: 40%;width: 40%;" alt="" /></a>
                    <figcaption>
                      <h5 class="from-top mb-0">Read More</h5>
                    </figcaption>
                  </figure>
                  <div class="card-body">
                    <div class="post-header">
                      <div class="post-category text-line">
                        <a href="#" class="hover" rel="category"></a>
                      </div>
                      <h2 class="post-title mt-1 mb-0"><a class="link-dark" href="./blog-post5.html">Kunjungan Puslitbang ke Rumah Ikat Tenun Nuaone</a></h2>
                    </div>
                    <div class="post-content">
                      <p>Pesona Taman Nasional Kelimutu selalu berhasil menarik minat wisatawan untuk berkunjung dan menikmati indahnya alam ciptaan Tuhan. Selain menyuguhkan hamparan alam yang menakjubkan, Kelimutu juga kaya akan budaya lokal. Salah satu yang sering menarik perhatian wisatawan adalah kain tenun ikat yang memiliki corak dan warna yang khas...</p>
                    </div>
                  </div>
                  <div class="card-footer">
                    <ul class="post-meta d-flex mb-0">
                      <li class="post-date"><i class="uil uil-calendar-alt"></i><span>5 Jul 2021</span></li>
                  </div>
                </div>
              </article>
              <article class="post">
                <div class="card">
                  <figure class="card-img-top overlay overlay-1 hover-scale"><a href="./blog-post6.html"><img src="" alt="" /></a>
                    <figcaption>
                      <h5 class="from-top mb-0">Read More</h5>
                    </figcaption>
                  </figure>
                  <div class="card-body">
                    <div class="post-header">
                      <div class="post-category text-line">
                        <a href="#" class="hover" rel="category"></a>
                      </div>
                      <h2 class="post-title mt-1 mb-0"><a class="link-dark" href="./blog-post6.html">Mitos Danau Air tiga warna Gunung Kelimutu</a></h2>
                    </div>
                    <div class="post-content">
                      <p>Menurut kepercayaan masyarakat suku Ende-Lio, dikisahkan pada zaman dahulu di Puncak Kelimutu atau yang disebut Bhu Ria merupakan tempat tinggal Konde Ratu beserta rakyatnya. Dan diantaranya hidup 2 orang sahabat yang bisa menggunakan shir, yaitu Ata Bupu dan Ata Polo. Ata Polo si tukang sihir jahat dan kejam yang suka memangsa manusia, dan Ata Bupu yang dihormati karena sifatnya yang berbelas kasih serta memiliki penangkal sihir Ata Polo. Kedua orang ini tunduk dan patuh kepada Konde Ratu....</p>
                    </div>
                  </div>
                  <div class="card-footer">
                    <ul class="post-meta d-flex mb-0">
                      <li class="post-date"><i class="uil uil-calendar-alt"></i><span>5 Jul 2021</span></li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
           
          </div>
          <!-- /column -->
          <aside class="col-lg-4 sidebar mt-8 mt-lg-6">
            <div class="widget">
              <h4 class="widget-title mb-3">Woloara News</h4>
              <p>Read our newest articles and news about our village </p>
              <nav class="nav social">
                <a href="#"><i class="uil uil-twitter"></i></a>
                <a href="#"><i class="uil uil-facebook-f"></i></a>
                <a href="#"><i class="uil uil-dribbble"></i></a>
                <a href="#"><i class="uil uil-instagram"></i></a>
                <a href="#"><i class="uil uil-youtube"></i></a>
              </nav>
              <!-- /.social -->
              <div class="clearfix"></div>
            </div>
          </aside>
          <!-- /column .sidebar -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container py-13 py-md-15">
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <p class="mb-4">© 2022 JongKreatif. <br class="d-none d-lg-block" />All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-lg-6">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Desa Woloara, Kecamatan Kelimutu, Kabupaten Ende, Nusa Tenggara Timur</address>
            <a href="mailto:robertus_riwu@hotmail.com">robertus_riwu@hotmail.com</a><br /> 082-328-098-244
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <!-- /column -->
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>

</html>